[2021-01-15 20:23] frankdema opened #1 "Additional field -> user can make his own entries"
Great script. Thanks.

I wish:

1. great were a javascript version without tooltaps and without search feature

2. an additional field (like the search field) in which the user can make his own entries that are not in the drop-down list.

[2021-01-23 07:15] sa-si-dev commented on #1
@frankdema thanks for you feedback.

Regarding your request,
1.1 In the latest version, tooltip would be shown only if the text is partially hidden with ellipsis. Please use latest files.
1.2 You can remove search feature by adding property `search: false`
2. I am not getting your point. Could you please give me some sample scenario

[2021-01-23 10:22] frankdema commented on #1
Many thanks for the answer.

to 1.
I would like to reduce the size of the javascript (and css). It should only contain what is really needed for the basic function. The Javascrit can easily be split up. In Core and Search and Tooltaps.
Then you can use what you need.

to 2.
e.g.

I have a fixed list:

aaa
bbb
ccc
ddd
eee

The user wants ccc and something that is not on the fixed list. (xxxx)
The u

[2021-01-26 17:46] xtance opened #2 "Event when item was selected"
Hello!
Is there a possibility to fire an event when an item was chosen by user?

Also, thanks a lot for this awesome library. It is really helpful for CEF versions without <select> tag support.

[2021-01-28 14:01] sa-si-dev commented on #2
Thanks for your feedback.

[code]

[2021-01-28 14:01] sa-si-dev commented on #1
Thank you for the detailed explanation.

1.1 I have already split tooltip related code. You can import and use it as an optional feature.
     Also you can use tooltip plugin in your project, if you want. (documentation https://sa-si-dev.github.io/tooltip)

1.2 I will try to split search related code in the future release.

2 I understood your point. I will implement it in the future release.

[2021-01-28 16:45] ahsynv opened #3 "Optgroup feature ?"
Hi, I would like to thank you for this great job, this is really good !
Is it possible to add the new feature like optgroup ?
Thanks a lot in advance

[2021-01-28 17:12] ahsynv opened #4 "Put forward selected elements when showing"
Is it possible to add new feature with a new propertie for example named "forwardSelected", and when its true, all selected elements will be show first. Because when we have 50+ elements, we need to scroll down to see which options are checked or not

Thanks !

[2021-01-29 10:21] xtance commented on #2
Nice to know that, thanks a lot :з

[2021-01-29 10:21] #2 closed

[2021-01-29 15:22] sa-si-dev commented on #3
Thank you for your feedback.

I will implement it in the future release.

[2021-01-29 15:23] sa-si-dev commented on #4
Sure. It is a good feature to have. I will implement it in the future release.

[2021-01-31 08:37] frankdema commented on #1
That's great. Many Thanks. i'm happy.

[2021-01-31 14:50] sa-si-dev commented on #1
@frankdema as you requested, I have implemented the feature to allow adding new entries.

This feature is available in the [release v.1.0.2](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.2) ([more details](https://sa-si-dev.github.io/virtual-select/#/examples?id=allow-to-add-new-option))

[2021-01-31 14:50] #1 closed

[2021-02-04 03:54] yahyaerturan opened #5 "Ability to add aliases to labels for searching"
Great plugin, thank you.

It would be really nice to add aliases to labels for searching. I am using this library instead of bootstrap-select with BS5.

[code]

This is the final html I proposed. We should be able to find "London" option when we type `england` or `europe` for example.

[2021-02-04 15:22] sa-si-dev commented on #5
It is an interesting feature to have.

I will work on it in the future release.

Thanks for your suggesion.

[2021-02-04 17:17] frg commented on #5
@yahyaerturan This functionality has been added in #7 however since this plugin does not deal with importing the options from the DOM directly you'll have to query and parse the terms manually.

[code]

[2021-02-04 21:16] yahyaerturan opened #8 "Omitting select all checkbox on multiple"
When `multiple: true` and `search: true`, we can see select all checkbox. Seems reasonable, but when we start to type to search and no result found, entered text and check all box in display. I believe it is not good for ux. Even me, I clicked the checkbox and selected all 4500 record at once. I believe it should be omitted or have an option to not show select all checkbox. I am now actively using

[2021-02-04 21:18] yahyaerturan opened #9 "Max number of selected items"
It would be very useful to have an option max number of selected items.

For example, select max 5 profiles to follow..

[2021-02-05 06:08] frg commented on #9
What should happen on the 6th option selection? Should it do nothing? Or should it overwrite a previous selection?

[2021-02-05 07:30] frg commented on #8
I've run into this confusion myself. In fact, I was working on a change where the select all checkbox while searching would select only the options that are currently in the list, however, it ended up being more confusing.

Disabling the select all option would be the best compromise.

[2021-02-05 07:41] sa-si-dev commented on #8
@frg, Yes we can make it as a core feature as you suggest.

Thank you for your contribution.

[2021-02-05 09:49] yahyaerturan commented on #9
Before replying, I have checked other libraries on how they do. Overwriting or doing nothing is not a good solution. All they show a message (some show in search field, some show in footer of dropbox) that you can select maximum 5 items..

Another subject but I want to work in localization of this library, I will try to prepare a PR on next weekend hopefully.

[2021-02-05 10:02] yahyaerturan commented on #5
If I get it right, this will result in a second mapping of json data as we set options by json when initializing? The html I wrote here as a sample of final output. Will this be done after initializing virtual select? More generic solution might be defining searchable json keys when initialising and leave the rest to the backend.

[2021-02-05 10:22] frg commented on #5
This plugin does not generate a select HTML element with options tags.

You would initialize the plugin as shown below
[code]

[2021-02-05 12:09] frg opened #13 "How can we load the docs locally for easier debugging & testing?"
Hi, currently I'm using a sample page I created to be able to test and debug changes. Is it possible to load the docs locally? If so, how? It looks like Jekyll is being used but I have no experience with this library.

Maybe if loading the docs is possible locally, can we have a setup with package.json to be able to easily load them?

Thanks

[2021-02-05 12:12] yahyaerturan commented on #5
👍 Looks great. Thank you.. Next release will be a loaded gun :)

[2021-02-05 12:12] #5 closed

[2021-02-05 12:16] sa-si-dev commented on #13
1. Install docsify globally

    `npm i docsify-cli -g`

2. Run below command from your project root folder to start localhost

    `docsify serve docs`

[2021-02-05 12:16] #13 closed

[2021-02-05 12:43] frg commented on #13
@sa-si-dev Would you be open to the idea of making a pr to include this as part of `package.json` and adding this to the `README.md`?

[code]

[2021-02-05 12:48] sa-si-dev commented on #13
I was planned to add it in next release. I will add it.

[2021-02-05 12:51] frg commented on #13
I have the branch ready with this change if you'd like @sa-si-dev 🙂

[2021-02-05 12:53] sa-si-dev commented on #13
Sure, send a request.

[2021-02-05 13:04] frg commented on #13
Pr open #14

[2021-02-05 15:11] sa-si-dev commented on #5
@frg, it is not recommanded to read data from DOM element. The main problem, this plugin trying to solve is, reduce the no.of DOM element.

It is good to handle data in JS object for better performance.

[2021-02-05 15:13] frg commented on #5
I agree, if I understood @yahyaerturan correctly by his example he already has a select element on his page which he's like to convert to using the plugin. I could have misunderstood.

[2021-02-06 12:55] sa-si-dev commented on #5
@yahyaerturan  as you requested, we have implemented the feature to allow using alias for searching.

This feature is available in the [release v.1.0.3](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.3) ([more details](https://sa-si-dev.github.io/virtual-select/#/examples?id=using-alias-for-searching))

[2021-02-06 12:58] sa-si-dev commented on #3
@ahsynv  as you requested, I have implemented the feature to allow optgroup.

This feature is available in the [release v.1.0.3](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.3) ([more details](https://sa-si-dev.github.io/virtual-select/#/examples?id=option-group))

[2021-02-06 12:58] #3 closed

[2021-02-06 13:00] sa-si-dev commented on #4
@ahsynv  as you requested, I have implemented the feature to showing selected options first.

This feature is available in the [release v.1.0.3](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.3) ([more details](https://sa-si-dev.github.io/virtual-select/#/examples?id=showing-selected-options-first))

[2021-02-06 13:00] #4 closed

[2021-02-06 13:03] sa-si-dev commented on #8
@yahyaerturan  as you requested, we have implemented the feature to disabling Select all checkbox, if search field has value.

This feature is available in the [release v.1.0.3](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.3)

[2021-02-06 13:03] #8 closed

[2021-02-07 07:20] markteunen65 opened #18 "Select with info"
![listbox with info](https://user-images.githubusercontent.com/32696786/107139589-a9944780-691c-11eb-92e6-5b34f12d1414.png)

It would be very nice if one could have an additional options[].info where one could define extra info (see attachment).
Or I suppose you could use the options[].alias property and have an additional option (showAlias or something)

Very nice code, by the way :)

[2021-02-07 13:07] sa-si-dev commented on #18
@markteunen65 Thank you for your suggestion. I will work on it in the future release.

[2021-02-08 08:05] ahsynv commented on #3
You are the BEST ! thank you very much i love this feature 😍

[2021-02-08 08:07] ahsynv commented on #4
Amazin you are very fast thanks a lot !!! 🎉👌👏

[2021-02-09 10:53] ahsynv opened #19 "Optgroup & showSelectedOptionsFirst issue"
Hi,

When we are using Optgroup feature and activate the "showSelectedOptionsFirst", its not working, all selected options have the same order 😕

Is it possible to do something like :

1. If any child of the optgroup is selected, change the order of this one and show it first ?
2. Or show all selected items first without any optgroup ( and keeping other optgroups with childs )

You have many possi

[2021-02-09 11:00] ahsynv opened #20 "Creating a hidden input by default to save selected data"
Hi, for the moment, we are using some custom solution to send the selected data. Actually we have an event listener to listen the selectbox, when its changed, we are creating a virtual input with a custom "name" attribute and change its value.

Is is possible to add a new parameter like "createVirtualInput" and "createVirtualInputName" and when first one is true, the virtual-select class create a

[2021-02-09 16:41] sa-si-dev commented on #19
I will implement it in the future release.

[2021-02-09 16:47] sa-si-dev commented on #20
If I understood your requirement correctly, I think we have already support native `change` event listener. Please check below docs page

https://sa-si-dev.github.io/virtual-select/#/events

Please check it and let me know, if it dosen't fulfill your requirement.

[2021-02-10 08:16] ahsynv commented on #20
Hi, thank you for reply ! No my issue is not about the event listener. So i will try to explain on another way :

With the native html "select" element, we have "name" attribute, like this :

[code]

On this example, when we select an option like "Spain" and click on submit button, on the back end for example PHP i can get the selected value by $_POST['country'], but on virtual-select, i dont foun

[2021-02-10 15:20] sa-si-dev commented on #20
@ahsynv I got your requirement. I will implement it in the future release.

[2021-02-11 08:49] ahsynv commented on #9
Disabling all other options if limit is exceeded can be a good solution ?

[2021-02-11 12:18] jmeierk opened #22 "Parameter to have dropdown opened by default with a fixed width and height"
Great work. One problem which I still have is that there doesn't seem to be an option to "embed" the dropdown in a fixed space with a defined height and width. For example, it should look similar to the first image under "Preview" here:

https://www.cssscript.com/select-box-virtual-scroll/

Even though one can use the "position" parameter to define where the dropdown unfolds (top, bottom, auto), I

[2021-02-11 15:47] sa-si-dev commented on #9
I have planned to implement it as
  - showing no.of items selected with max limit (e.g 2/5 options selected) as value
  - and disable all unselected items on selecting max no.of options.

[2021-02-11 15:54] sa-si-dev commented on #22
@jmeierk sorry, I am not getting your requirement.
Could you please give a real time scenario to understand your requirement.

[2021-02-11 16:12] jmeierk commented on #22
Sure. When embedding virtual-select in an app, one basically has a dropdown component which has to be clicked to show the available options. The number of display options is defined by noOfDisplayValues.

Now, my question, is there a possibility to avoid clicking the dropdown component to show the available options? That is, can we configure the dropdown in a way that the selectable options are im

[2021-02-11 20:48] jmeierk opened #23 "Method to get labels of selected options"
Is there a method similar to val() for getting the labels of the selected values? Couldn't find it in the docs.
Or is there any quick workaround for achieving this?

[2021-02-12 11:39] mcihak opened #24 "showSelectedOptionsFirst doesn't work in Firefox"
If I open
http://plnkr.co/edit/amY5skjS9OL2mr8R?open=lib%2Fscript.js&preview
in Chrome, `showSelectedOptionsFirst` works fine so selected options are displayed at the top of the list.
If I open the same in Firefox selected options are not moved to the top.

![image](https://user-images.githubusercontent.com/2871726/107763709-57459300-6d2f-11eb-9ce3-5a458626e983.png)

[2021-02-12 14:28] ahsynv commented on #22
@jmeierk you can use the function "click()" from javascript for this. When page is loaded, you can use it to simulate click on this selectbox to open it by default

Ex :

`document.querySelector(".vscomp-value").click();`

[2021-02-12 14:29] ahsynv commented on #23
Yes you can get the selected value by "change" event : https://sa-si-dev.github.io/virtual-select/#/events

[2021-02-12 17:29] jmeierk commented on #23
This will give me the values but what I need are the shown **labels**. Is there a complementary function to val() which returns the selected labels as array?

[2021-02-12 17:48] jmeierk commented on #22
Ok, this works! Apart from that is there an option to keep the dropdown permanently opened all the time?

[2021-02-13 14:55] sa-si-dev commented on #22
@jmeierk I got your requirement. I will work on it in the future release.

BTW it is a good suggestion.

[2021-02-13 14:56] sa-si-dev commented on #23
@jmeierk I will create a method for this in the future release

[2021-02-14 12:53] sa-si-dev commented on #24
@mcihak good catch, thanks for letting me know this.

[2021-02-14 16:19] sa-si-dev commented on #9
@yahyaerturan as you requested, I have implemented this feature and it is available in the [release v.1.0.4](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.4)

[2021-02-14 16:19] #9 closed

[2021-02-14 16:20] sa-si-dev commented on #20
@ahsynv as you requested, I have implemented this feature and it is available in the [release v.1.0.4](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.4)

[2021-02-14 16:20] #20 closed

[2021-02-14 16:20] sa-si-dev commented on #22
@jmeierk as you requested, I have implemented this feature and it is available in the [release v.1.0.4](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.4)

[2021-02-14 16:20] #22 closed

[2021-02-14 16:21] sa-si-dev commented on #24
@mcihak this issue got fixed and available in the [release v.1.0.4](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.4)

[2021-02-14 16:21] #24 closed

[2021-02-14 16:23] sa-si-dev commented on #23
@jmeierk as you requested, I have created a method "getDisplayValue()" to get label of selected options.

 This method is available in the [release v.1.0.4](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.4)

[2021-02-14 16:23] #23 closed

[2021-02-14 19:42] jmeierk commented on #23
thank you so much!!

[2021-02-14 19:43] jmeierk commented on #22
thank you so much!!

[2021-02-20 08:17] sa-si-dev commented on #18
@markteunen65 as you requested, I have implemented this feature and it is available in the [release v.1.0.5](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.5)

[2021-02-20 08:17] #18 closed

[2021-02-20 08:18] sa-si-dev commented on #19
@ahsynv as you requested, I have enabled showSelectedOptionsFirst feature for optGroup

This feature and it is available in the [release v.1.0.5](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.5)

[2021-02-20 08:18] #19 closed

[2021-02-21 01:37] geovaneo opened #25 "Tooltip not showing: Cannot read property 'insertAdjacentHTML' of null"
Hi,

I followed getting started and documentation, everthing is working fine but tooltip. Whenever I try to see selected options, when I mouse over it:

VM9033:5 Uncaught TypeError: Cannot read property 'insertAdjacentHTML' of null
    at eval (eval at module.exports (VM9004 addScript.js:1), <anonymous>:5:1123)
    at HTMLDocument.l (eval at module.exports (VM9004 addScript.js:1), <anonymous>:5:23

[2021-02-21 04:38] sa-si-dev commented on #25
@geovaneo does this error message coming in documents page also or only in your page?

[2021-02-21 22:01] mcihak commented on #25
Encountered this issue as well.
The problem was that I placed the script into head of a page.
Try to move tooltip script to the end of the body.

[2021-02-22 06:56] geovaneo commented on #25
Hi guys! Moving to end of the body solved the issue.
Thanks!

[2021-02-22 06:56] #25 closed

[2021-02-24 08:19] Sergeant61 opened #26 "Searching with api"
Hello, the library you wrote is really nice. However, in the documentation, the search function seems to be valid only for the listed options. I want to use this to request the backend and list the options based on the incoming result. Is there a way to do this? I apologize for my English.

[2021-02-24 10:17] ahsynv commented on #26
@sa-si-dev i think you can add a new function named "update()" and possibility access to "options" to make possible to update the data of virtual-select ?

Ex :

[code]

and if we need to modify/remove/add any data we can just

[code]

[2021-02-24 10:39] sa-si-dev commented on #26
@Sergeant61 I will implement it in the future release.

@ahsynv thanks for the suggestion. We alread have [setOptions](https://sa-si-dev.github.io/virtual-select/#/methods?id=setoptions) method to update options list.

But here, whenever search value change, we need to call an API and update options list once get API response, instead of filtring available options list.

[2021-02-24 13:49] Sergeant61 commented on #26
In addition, when we think of it as input, the "required" property can be brought. These forms will help us.

[2021-02-24 13:56] ahsynv opened #27 ""search" proprerty set true the "disableSelectAll""
Hi, when we set "search" proprerty to "false" the "Select all" button disappears, i try to set "disableSelectAll" => "false" manually but its not working. Can we just get the "Select all" button without "Search" ?

[2021-02-25 07:29] Sergeant61 commented on #26
Hello, regarding these issues, I made a fork until @sa-si-dev  made the edits in the main repo. I've added `isShowAllSelectedText`, `searchFromApi`, `required` attributes. After setting `searchFromApi` to `true`, you can listen to `vscomp-search-input` keyup.

[2021-02-25 08:40] ahsynv commented on #26
@sa-si-dev thank you for your answer, but i dont understand really the utility to add any "API Support" ( sorry if I say nonsense ). Because finally what @Sergeant61 need ( and other people in the future i imagine ), its to send a data to an API with the current value of search input. And on the side of API we have a response right ? So what we need its just get the current typing value of the sea

[2021-02-25 08:59] Sergeant61 commented on #26
Actually, my goal is to increase performance. I need the selection box on the website I made. And I don't want to return all the data in the selection box, some of them list length exceeds 30 and the ui is too bad. Therefore, I made a component that is both user-friendly and will be found.

Example [videoUrl](https://drive.google.com/file/d/11BprttLc_8je_OEFWZo6EGS8SAYEWcNV/edit)

[2021-02-25 09:10] ahsynv commented on #26
@Sergeant61 the video is private 😕, can you publish it in another way please ? And for the performance issue you can not do anything in the side of the API ? For me, a package need to be "flexible" and "virtual-select" is flexible, we can do many things with the current version, some times we need to do some custom JS to do what we want, and for the API its the same "for me" 😅

[2021-02-25 09:26] Sergeant61 commented on #26
I made the video public. I think it's open, it's my fault. @ahsynv

[2021-02-25 09:58] sa-si-dev commented on #26
@ahsynv you are right. We should not add API related logic in this plugin, but it is good to have a standard way to integrate with API.

I have planned to handle it as below. I will provide a callback function support for search value change event. Project developer has to handle making API call with any method they prefer.

[code]

[2021-02-25 10:11] sa-si-dev commented on #26
@Sergeant61 the main purpose of this plugin is supporting more no.of options without affecting performance.

As you can see in the [docs](https://sa-si-dev.github.io/virtual-select/#/examples) page, It has more than 10 dropdowns and each dropdown has 100,000 options. But you won't feel any performance issue.

P.S. It is not recommanded to use server search, it will affect user experience. But we c

[2021-02-25 11:25] ahsynv commented on #26
If you dont want to get all datas at the one time, i can suggets 2 possibilites ( other people probably have a a better idea than me ) :

1. When user click on the selectbox, call your API et get/set options for your selectbox

2. Or When user click on the selectbox, call your API get save the data in a JS variable into an array. And when user start to typing you can search the values into your ow

[2021-02-25 11:30] sa-si-dev commented on #26
@ahsynv it is a good suggestion. I will implement it with "showOptionsOnlyOnSearch" property.

[2021-02-26 15:38] sa-si-dev commented on #25
@geovaneo this issue got fixed in the tooltip plugin ([v1.0.6](https://github.com/sa-si-dev/tooltip/releases/tag/v1.0.6))

Now we can import plugin files in the `head` tag.

[2021-02-26 15:40] sa-si-dev commented on #27
@ahsynv this issue got fixed and available in the [release v1.0.6](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.6)

[2021-02-26 15:40] #27 closed

[2021-03-02 12:19] Dams591 opened #28 "Using a custom scrollbar such as overlayscrollbar"
Hey,

Just trying out virtual-select and got to say this is an incredible piece of work ! awesome project @sa-si-dev  !
Wanted to ask you if you had any idea on how to integrate a custom scrollbar such as Overlayscrollbar (https://github.com/KingSora/OverlayScrollbars) to replace the browser scrollbar.

Been trying to instanciate the pluging on elements with the class 'vscomp-options-container' bu

[2021-03-02 15:37] sa-si-dev commented on #28
@Dams591 it seems this plugin adds some extra DOM elements inside `.vscomp-options-container`, which affect the logic I have used for virtual scroll.

It is not recommanded to use scroll plugin with virtual select. I think you can customize the scrollbar in CSS itself.

https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp

With plugin

<img width="827" alt="Screenshot 2021-03-02 at 9 01

[2021-03-03 09:46] mcihak opened #29 "Possibly display tooltip in case all options are selected"
Tooltip is not displayed when all options are selected. I can see in the code that the case when all options are selected is handled separately and `data-tooltip` attribute is not set in this case. It might be intentional.

In case of our application this is not ideal because we dynamically change the list of options and preselect them all by default. From user experience point of view it might se

[2021-03-03 13:35] Dams591 commented on #28
@sa-si-dev css yeah I was trying to maintain the same style accross all browsers by using a js plugin ( firefox only allow for certain customisations, IE 11 doesn't support css at all and so on...) but I guess I can live with it. Thanks anyway.

[2021-03-03 13:35] #28 closed

[2021-03-03 14:38] Dams591 opened #30 "Scrolling issue."
Hello @sa-si-dev,

Still playing around with your work and now facing various scrolling issues.
I'm not sure why but the number of items seems related (not facing the issue with 100 items but with 10 I am)

Here's a few scenarios:

Using https://codepen.io/dams591/full/zYojWNb (10 items per dropdown)

Scenario A.

1. Go hover the second dropdown (list with search) and use mouse wheel to scroll to

[2021-03-03 15:07] sa-si-dev commented on #29
@mcihak I will add a property to show tooltilp on selecting all options in the future release.

[2021-03-03 15:15] sa-si-dev commented on #30
@Dams591 I will check and fix them.

Thanks for letting me know.

[2021-03-03 15:34] Dams591 commented on #30
@sa-si-dev
Not sure why and also what that breaks but if I remove the call to this.moveFocusedOptionToView(); in renderOptions() (last line of the function) I get a clean and smooth scrollbar ;)

[2021-03-03 16:21] sa-si-dev commented on #30
@Dams591 I think this is the cause of the issue. Thanks for finding it out.

I don't remember why I added that line. Will remove it if that line is not needed.

[2021-03-04 18:53] #30 closed

[2021-03-05 15:41] sa-si-dev commented on #30
@Dams591 this issue got fixed and available in the [release v1.0.7](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.7)

[2021-03-05 15:44] sa-si-dev commented on #29
@mcihak this feature has implemented as [hideValueTooltipOnSelectAll](https://sa-si-dev.github.io/virtual-select/#/properties) and available in the [release v1.0.7](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.7)

[2021-03-05 15:44] #29 closed

[2021-03-05 15:47] sa-si-dev commented on #26
@Sergeant61 searching with API feature has implemented and available in the [release v1.0.7](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.7) ([more details](https://sa-si-dev.github.io/virtual-select/#/examples?id=server-search))

[2021-03-05 15:50] mcihak commented on #29
@sa-si-dev great thanks for implementing the feature 👍

[2021-03-12 16:17] sa-si-dev commented on #26
@ahsynv I have implemented the feature "showOptionsOnlyOnSearch".

It is available in the [release v1.0.8](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.8) ([more details](https://sa-si-dev.github.io/virtual-select/#/examples?id=show-options-only-on-search))

[2021-03-12 16:17] #26 closed

[2021-03-13 14:45] gowravshekar opened #32 "[Feature Request] Combination of properties with allowNewOption."
@sa-si-dev, Great work with the library. I have been testing the library with different combinations and made below observations.

1. `allowNewOption` and `selectedValue` doesn't work together.

If a new value is added with the above combination and upon editing the form with `selectedValue`, the select box shows empty.

2.   `allowNewOption` and `onServerSearch` combination.

With the above combi

[2021-03-13 15:00] sa-si-dev commented on #32
@gowravshekar thank you for letting me know these issue.

I will check them and fix in the future release.

[2021-04-10 23:01] PCov3r opened #33 "Crop selector and no popup on mobile screen"
Hello,
I have a small problem with selector. On a full webpage it works like a charm. The selector shows 5 items, no problem.

But if I reduce width, like on mobile phone or when resizing the window, the selector doesn't show these 5 items. In fact if it is full screen, the items are shown below the selector box, whereas if it is in a reduced window, there are shown above the selector window (see

[2021-04-12 12:39] sa-si-dev commented on #33
It seems ancestor element of dropdown has `overflow: hidden` property.

By default dropbox would be shown on top or bottom based on which part has more space.

You can try any of the below solutions.

- Remove `overflow: hidden` property from ancestor element
- Always show dropbox below by setting `position: 'bottom'` property while initialization or by inline attribute `data-position="bottom"`

<

[2021-04-12 21:33] PCov3r commented on #33
It was indeed an `overflow: hidden` problem !
Thanks !

I also figured the problem with the popup. It is because I forgot the meta tag in the `<head>`
Everything is now perfectly working.

[2021-04-12 21:33] #33 closed

[2021-04-16 17:45] gowrav-scienaptic commented on #32
Item1:

https://sa-si-dev.github.io/virtual-select/#/examples?id=preselect-value

If the selectedValue is not part of the default options set as we had `allowNewOption = true`, the new option should be automatically added and displayed in the input on editing the form.

If default options are - Option 1, Option 2, Option 3 and selected value is Option 4 and `allowNewOption = true`, then input shou

[2021-04-17 16:06] sa-si-dev commented on #32
@gowravshekar above issues have been fixed in the [release v1.0.9](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.9).

For item 3, you could use [getSelectedOptions()](https://sa-si-dev.github.io/virtual-select/#/methods?id=getselectedoptions) method.

[2021-04-17 16:06] #32 closed

[2021-04-24 12:20] yahyaerturan opened #35 "How can we fire the first api call to onServerSearch on init"
Thanks again @sa-si-dev . Now this is the main component we use for every select/dropdown in our apps.

I have on question: I have implemented a vscomp with `onServerSearch` property. It is working great. To provide a better user experience, I want to fire the first search call with and empty query string (meaning get all by pagination applied in my system) and load those options first from api. I

[2021-04-24 14:15] yahyaerturan commented on #26
Well, it is not directly about the question but the title of the question may help others, that's why I am writing to here.

`onServerSearch` works like a charm in create forms. My question for edit forms. How can we display the option selected on a ServerSearch vscomp?

[2021-04-29 14:53] MuriloChianfa opened #36 "i.forEach is not a funcion"
Good afternoon friend, I liked the lib a lot, but when it matters it the error!

Can you help me ?

![image](https://user-images.githubusercontent.com/60560085/116571451-780a9700-a8e1-11eb-8479-3f7af5d49ba4.png)

[2021-04-29 15:08] MuriloChianfa commented on #36
Im sorry for being a layman... but, I just didnt understand that its from div >,<
then ill take a look at the code to try to help! I liked it very much

![image](https://user-images.githubusercontent.com/60560085/116573474-3844af00-a8e3-11eb-9f08-6f6ee856c68d.png)

[2021-04-29 15:08] #36 closed

[2021-04-29 15:30] sa-si-dev commented on #35
@yahyaerturan, you could implement it by calling the `onServerSearch` callback function after initializing VirtualSelect.

[code]

[2021-04-29 15:30] #35 closed

[2021-04-29 16:12] sa-si-dev commented on #26
@yahyaerturan, we could implement it by setting options property with selected value's options on initialization

[code]

[2021-04-30 19:05] moussa1 opened #37 "Textbox not updating when an option is unselected."
If I select 3 options and close, the label shows "3 options selected", however when I unselect an option, the label still shows "3 options selected".

[2021-05-01 15:32] sa-si-dev commented on #37
@moussa1 please share the code you are using to initialize dropdown.

[2021-05-01 17:09] moussa1 commented on #37
<script type="text/javascript">

			var types;
			var Main = [];
			var virtualSelectVar;

			$(document).ready(function() {
				var element = parent.$("iframe[data-id='WebResource_Component4afdfbe-33cfa26a-64d4-43f1-b426-38a0e0a844f8_WebResource_Component4afdfbe']");
				element[0].style.border = "0";

				$(document).on('click', '#box3', function() { GetRegionDetails();});

				function GetRegio

[2021-05-01 17:43] sa-si-dev commented on #37
@moussa1 please check that does multiple dropdown options has same value.

[2021-05-01 18:05] moussa1 commented on #37
Yes multiple dropdown options will have same value... how can i fix this issue pls?

[2021-05-01 20:21] moussa1 commented on #37
never mind i got it working. thank you

[2021-05-02 05:47] #37 closed

[2021-06-16 21:27] Goatform opened #42 "Memory leak after recent implementation of labelRenderer"
**Issue explanation:** - read issue title -

**How to reproduce the issue?**
Populate dropdown with 10+ rows and then **click on the select input and scroll through the options**.
Then **you will start seeing `labelRenderer` getting triggered so many times**, the more you scroll the worse it gets to the point where the **browser stops interacting**.

**Example code** is exactly the same as the one

[2021-06-17 08:06] sa-si-dev commented on #42
@Goatform I don't think this is an issue.

The purpose of this plugin is to improve performance by rendering minimum no.of. options at a time and render more options on scroll.
So when you scoll on options it will call `sampleLabelRenderer` function for each options that is visible.

 I don't find that the `sampleLabelRenderer` is affecting the performance. But `console.log` inside the function af

[2021-06-17 08:06] #42 closed

[2021-06-17 15:10] Goatform commented on #42
Hmm, I get the point of your approach now, thank you for explaining it precisely @sa-si-dev

[2021-06-21 12:36] ahsynv opened #43 "Feature request"
Hi, i dont know if its possible with current version of the package or not, but i would know is it possible to do (or add in the next version), the possibility to init virtual select more easly for already existing for elements ?

For example if i have already this select

`<select name="test">
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Ha

[2021-06-21 13:43] sa-si-dev commented on #43
@ahsynv please refer [How to initiate plugin from native <select> element?](https://github.com/sa-si-dev/virtual-select/discussions/45)

[2021-06-21 13:43] #43 closed

[2021-06-25 11:39] abujalka opened #46 "How to mark selected options"
Hi,

please is it possible to mark the selected options in some way similar to the blocked options?
I use the setOptions () method to add options.
I can then mark the disabled options with the setDisabledOptions () method, but I would also need to mark the selected options, for example with the method or with the properties in the options field.

well thank you
Tony

[2021-06-28 04:37] sa-si-dev commented on #46
@abujalka you could use setValue() method.

https://sa-si-dev.github.io/virtual-select/#/methods?id=setvalue

[2021-06-28 04:48] #46 closed

[2021-06-28 08:12] abujalka opened #47 "Enhancements - Text after selecting item, Trigger on close select, Container for selected items"
Hi, I have suggestions for the following improvements:

1. Set to display the placeholder after selecting an item
a) I have entered the placelholder "Town" and at the same time maxValues to "50" ... after selecting one item, "1/50 option selected" would not be displayed, but for example "1/50 | Town"
b) in case I did not have maxValues set, "1 | Town" would be displayed
c) the number of selected i

[2021-07-01 15:38] sa-si-dev commented on #47
@abujalka, thanks for your suggestions.

Regarding 1 and 3, I will work on them in future releases.

Regarding 2,

- We have `close()` method to close the dropdown programmatically ([more details](https://sa-si-dev.github.io/virtual-select/#/methods?id=close))
- We have `open/close` events to listen ([more details](https://sa-si-dev.github.io/virtual-select/#/events?id=open-close))

[2021-07-01 16:19] abujalka commented on #47
Thank you very much for your answer.

I apologize for being inattentive to point number 2.
I still thought that it would be nice if an event was added after clearing the select (click on the element with the class vscomp-clear-button)
I do not want to perform the action after each change (change event), but only if the change is final - I close or clear the select.

I look forward to the future re

[2021-07-02 07:00] sa-si-dev commented on #47
I do not want to perform the action after each change (change event), but only if the change is final - I close or clear the select.

Sorry, I am not getting your requirement here. Could you please explain with some real-time scenarios?

[2021-07-08 06:28] abujalka commented on #47
Hi, I'll try to explain.

I have a virtual select in which I have cities.
I have a "Search" button that shows the number of items that match the filter.

1. Open a virtual select with cities and check 10 items.
2. Close the virtual select with cities.
3. I will recalculate how many items match the filter and update the number in the "Search" button.
4. Then I clear the virtual select with cities u

[2021-07-08 15:29] sa-si-dev commented on #47
@abujalka If I understand your requirement correctly, you could implement your case using the `change` event itself as below.

[code]

[2021-07-10 14:39] sa-si-dev commented on #47
@abujalka I have implemented your 1) and 2) requirements and they are available in the [release v1.0.12](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.12)

1) optionsSelectedText - Text to use when displaying no.of values selected text (i.e. 3 options selected)
2) reset event ([more details](https://sa-si-dev.github.io/virtual-select/#/events?id=reset))

[2021-07-12 02:10] kkkisme opened #48 "publish this package to npm registry"
publish this package to npm registry that we can download it conveniently

[2021-07-12 15:55] sa-si-dev commented on #48
@kkkisme thanks for your suggestion. I will publish it in NPM.

[2021-07-13 13:04] abujalka commented on #47
Hi,

1.
If I have options maxValues set, it shows me "number of checked / maxValues | optionsSelectedText".
If I don't have options maxValues set, then after checking the first option, it shows me the text of this option, and after checking the next option, it shows me "2 | optionsSelectedText".
I tried to work around it by setting maxValues, but if I check all the options, it is not possible to t

[2021-07-14 13:13] sa-si-dev commented on #47
@abujalka, I will implement 1) in the future release.

[2021-07-28 16:15] sa-si-dev commented on #48
@kkkisme I have published this plugin in NPM.

[https://www.npmjs.com/package/virtual-select-plugin](https://www.npmjs.com/package/virtual-select-plugin)

[2021-07-28 16:15] #48 closed

[2021-08-03 06:48] abujalka opened #52 "Incorrect behavior of tooltips"
Hi,

I have my other observations with the use of virtual select.

I use the tooltip plugin because not all of my options are fully visible.

1. Open the virtual select, move the cursor to the option where the tooltip is displayed. Then I scroll but the tooltip remains displayed. It doesn't look nice, and I don't think it's even right.

2. Open the virtual select, move the cursor to the option whe

[2021-08-03 16:49] sa-si-dev commented on #52
@abujalka I will fix them in the future release.

Thanks for letting me know.

[2021-08-04 09:07] mjesteve opened #53 "Dropbox does not float to the forefront"
Hi, first of all I think it's a great job you've done with virtual-select, it works very well.
I belong to the Apache Royale community [[1](https://apache.github.io/royale-docs/)] and for this year's ApacheCon I'm preparing a set of examples of integration with JS libraries. Virtual Select seemed to me a very good example to be part of the project (Echarts [[2](https://echarts.apache.org/en/index.

[2021-08-04 10:55] mjesteve commented on #53
Just to add another example... this time with the display priority:

![image](https://user-images.githubusercontent.com/55754195/128168943-2f5854ac-37c6-45cd-8102-78b35e18af68.png)

If you notice, the dropbox in the top select is below the fixed dropbox. This time it has to do with the z-index. The fixed dropbox has z-index=1 and the top dropbox "also". Could you leave z-index=1 when it is fixed a

[2021-08-05 13:09] rjsaci commented on #53
@mjesteve Thank you for considering this plugin to use in your project.

1) This issue is happing because the plugin is rendered inside an element that has overflow hidden or scroll property. To fix this, dropbox needs to be rendered at the end of the body element instead of inside the virtual select wrapper.

2) I will increase the z-index of floating dropbox as you suggested.

Will implement the

[2021-08-05 13:11] sa-si-dev commented on #53
@mjesteve Thank you for considering this plugin to use in your project.

1) This issue is happing because the plugin is rendered inside an element that has overflow hidden or scroll property. To fix this, dropbox needs to be rendered at the end of the body element instead of inside the virtual select wrapper.

2) I will increase the z-index of floating dropbox as you suggested.

Will implement the

[2021-08-05 14:01] mjesteve commented on #53
Thank you very much sa-si-dev.
Yesterday I started to set up the development environment with vsCode to be able to do debug tests but I still don't have it. Is there any document about this in the repository?

Thanks for your interest.

Hiedra

[2021-08-05 15:33] sa-si-dev commented on #53
Please check [here](https://github.com/sa-si-dev/virtual-select/discussions/56)

[2021-08-05 15:35] mjesteve commented on #53
Thx.

[2021-08-06 15:49] sa-si-dev commented on #47
@abujalka, Features you have requested are available in the [release v1.0.14](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.14)

1) New classes added as you requested `vscomp-selected-value-count` and `vscomp-max-value-count`
2) showValueAsTags ([more details](https://sa-si-dev.github.io/virtual-select/#/examples?id=show-values-as-tags))
3) alwaysShowSelectedOptionsCount
4) disable

[2021-08-06 15:49] #47 closed

[2021-08-07 15:15] sa-si-dev commented on #52
@abujalka it was an issue in the tooltip plugin.

It has been fixed in the release [tooltip v1.0.15](https://github.com/sa-si-dev/tooltip/releases/tag/v1.0.15)

[2021-08-07 15:15] #52 closed

[2021-08-10 08:00] smagret opened #57 "Disabled attribute"
Hi, awesome work you have done here,
I would like to ask how to set the dropdown as `disabled`, same as `<select>` inputs have the attribute `disabled` to not let the user interact with the input, I would like to do the same with the `vscomp`, I have tried adding the attribute/class to various divs and/or to the hidden input but it seems to have no effect and I can't find a way around it.

If ther

[2021-08-10 11:27] sa-si-dev commented on #57
@smagret thank you for the suggestion.

I will implement it in the future release.

[2021-08-13 10:13] abujalka commented on #47
Hi.

First of all, I would like to thank you for your very quick approach to resolving my requests.

All my requirements were met, only 1 was implemented in a different way than I imagined - container settings.

My idea was that a property would be added to set the id of the container to which the selected items would be added. The container would not have to be located directly in the virtual sel

[2021-08-13 15:18] sa-si-dev commented on #47
@abujalka sorry, rendering any content outside of the dropdown doesn't look like a generic feature that could be part of the plugin.

But you could implement it in your project by rendering selected values anywherer on value change.

[2021-08-14 23:19] mjesteve opened #58 "setOptions does not update items created in dropbox"
Hi,
I think there is a small bug with the setOptions method, it does not update the pre-existing options in the dropdown:

![GIF 15-08-2021 0-54-46](https://user-images.githubusercontent.com/55754195/129462211-62ac4fef-d5f6-4d6d-aedb-5edab0f1210d.gif)

if instead of using setOptions I use setServerOptions we get the expected result:

![GIF 15-08-2021 1-16-23](https://user-images.githubusercontent.

[2021-08-15 16:17] sa-si-dev commented on #58
@mjesteve this is expected behavior only. `setOptions()` method would override existing options with new options.

[2021-08-15 16:17] #58 closed

[2021-08-15 16:36] sa-si-dev commented on #57
@smagret this feature is available in the [release v1.0.15](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.15)

[code]

[2021-08-15 16:36] #57 closed

[2021-08-15 16:38] sa-si-dev commented on #53
@mjesteve this feature is available in the [release v1.0.15](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.15)

Use `dropboxWrapper: 'body'` property to avoid dropbox hiding.

[2021-08-15 16:38] #53 closed

[2021-08-15 20:14] mjesteve commented on #58
Thanks for the clarification ;)
I will continue to use setServerOptions because I want to see the dataprovider changes as soon as I send them to it and not when I move or select any.

Thanks for replying.

[2021-08-15 20:15] mjesteve commented on #53
I will try it, thank you very much.

[2021-08-17 11:16] mjesteve commented on #53
It works very well:

![GIF 17-08-2021 13-15-33](https://user-images.githubusercontent.com/55754195/129716807-dec12d74-3fcb-4be2-9ae2-0995d0f1a492.gif)

I will definitely incorporate it into my projects ;)
Thanks sa-si-dev

[2021-08-17 11:52] sa-si-dev commented on #53
Thank you

[2021-09-04 09:01] yahyaerturan opened #61 "How to add `?term=..` appropriately when remote url already have query parameters."
Hi again.

I have a api-based remote url to fetch results on search. Sth like: `domain.com/resource?active=1&position=asc`. But when search, plugin is not aware that I have already a query string in remote url so it adds blindly '?term=....' to the end of url. Is there a way to make sure plugin adds term as `&term=...` if query string is already exists in the given remote url?

[2021-09-04 11:22] sa-si-dev commented on #61
@yahyaerturan this plugin doesn't have any API related code like creating API URL and calling API.

These logic should be handled by the project developer to use server search feature.

Could you please share the code you are using to initiate the plugin with `onServerSearch` callback function

[2021-09-04 18:53] yahyaerturan commented on #61
`onServerSearch` it is. Figure out how to do.. Thank you for the tip.

[2021-09-04 18:53] #61 closed

[2021-09-09 13:21] yahyaerturan commented on #57
As a positive remark, documentation misses this feature. Today I need this one and remember saw this in on of the emails as I follow the repo. But for a new one it might be a challenge.

[2021-09-11 01:33] sa-si-dev commented on #57
@yahyaerturan thanks for informing me. I will add that in the documentation.

[2021-09-11 10:57] kurkle opened #62 "setDisabledOptions removes current selection"
# Context

Multiple virtual selects for same set of "things", only allowing a "thing" in one select. So when a value changes in a selects, that value is disabled from other selects. Selecting single value.

# Current behavior

Previous selection is lost, even if its not in the disabled list.

# Expected behavior

Disabled status of the elements is updated, selection is preserved.

[2021-09-13 09:41] sa-si-dev commented on #62
@kurkle, thanks for letting me know it. I will check and fix them in the future release.

[2021-09-15 09:02] kurkle opened #63 "Can not differentiate with a selected or unselected option with empty value"
I have a `multiple` select.

One option is  with `value=''`. When toggling that option, change events are fired ok, but there is no (easy) way of knowing if the value is selected or not.

In the change event, `this.value` equals `''` and `this.getSelectedOptions()` returns the option with empty value even when its not selected.

A related issue, if there is another value selected and you toggle th

[2021-09-15 14:26] satra2806 opened #64 "How to use this in React"
@sa-si-dev  How to use this in React JS

[2021-09-16 02:29] sa-si-dev commented on #63
@kurkle thanks for letting me know it.

I will check and handle this case

[2021-09-16 02:31] sa-si-dev commented on #64
@satra2806 I am not familiar with React, I will check and let you know the possibilities.

[2021-09-23 12:47] MohsenAlyafei opened #65 "How to Change the Font and Text Direction"
How can one change the font and style of the menu items and also change the text direction to RTL.

[2021-09-24 10:25] sa-si-dev commented on #65
@MohsenAlyafei, to customize the font styles, you have to update the CSS properties of the relevant element with text.

Regarding RTL, there is no default support for RTL in the plugin itself.
As of now, you have to achieve this by updating the CSS properties of all elements with text.
I will add default support for RTL text format in the future release.

Thanks for asking it.

[2021-10-11 15:08] #62 closed

[2021-10-12 12:44] MohsenAlyafei commented on #65
Thanks. This is a great addition to the Library.

[2021-10-14 12:36] kurkle opened #69 "The github button in homepage has an invalid link"
https://sa-si-dev.github.io/virtual-select

![image](https://user-images.githubusercontent.com/27971921/137318436-882537a6-1225-4f3f-9ec9-b1ed460cbd48.png)

[2021-10-14 12:40] kurkle opened #70 "Feature: Support selecting a range of items from the list"
It would be nice to be able to select a range of items, like in plain select.

Using click .. shift + click and/or dragging a range while keeping mouse button pressed.

[2021-10-16 14:24] sa-si-dev commented on #69
@kurkle this issue has been fixed in the [release v1.0.18](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.18)

[2021-10-16 14:24] #69 closed

[2021-10-16 14:25] sa-si-dev commented on #70
@kurkle this feature has been implemented in the [release v1.0.18](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.18)

[2021-10-16 14:25] #70 closed

[2021-10-18 09:39] Jaaap opened #71 "Value with comma and multiple"
When you use `multiple:true` and have a value with a comma, you get that value split into 2 seperate values.
Example:
[code]
Selecting both values will result in the hidden input having the value "1,2,3".

[2021-10-18 09:48] Jaaap opened #72 "Incompatibility with stricter CSPs (Content Security Policies) inline-style"
When you use this lib in a webpage with a strict CSP header, like:
[code]
you get errors like:
[code]
because this CSP blocks code like:
[code]

Is it feasible to set these styles in JS after the nodes have been made?

[2021-10-18 14:52] sa-si-dev commented on #72
@Jaaap I will check and fix it in the future release.

[2021-10-18 20:22] Jaaap opened #73 "XSS Vulnerabilities (Cross Site Scripting)"
There are XSS vulnerabilities in `name`, `options/label` and `options/value`, example:
[code]
This will result in the text BIG HEADER being rendered as an actual`<h1>` and all the options will be bold and selecting the last option would make the `value` of the hidden input "before" except that the input's className is removed by the `name` XSS.

These are technically 3 separate issues but i hope y

[2021-10-19 04:55] sa-si-dev commented on #73
@Jaaap thanks for letting me know it. I will fix those issues in the future release.

[2021-10-19 10:59] kurkle commented on #70
This could be extended with the ability to de-select a range.

- if the shift-clicked item is already selected, remove selection from the range.

I'm not certain this would be a behavior everyone expects though.

A default `<select multiple>` stores the non-shift clicked option as a reference and shift-clicks after that replace the whole selection with the new range. IMO that would not be as good.

[2021-10-22 15:23] RicPap opened #74 "Compatibility with internet explorer"
Hi,
The library works fine on chrome, but I'm having some troubles on IE, the library is imported inside my project not by url.
These are the errors from the console:
Couldn't initiate Virtual Select
Object doesn't support property or method 'forEach'
virtual-select.min.js (5,8622).
Any suggestions?
Thank you for your help.

[2021-11-13 09:43] sa-si-dev commented on #71
@Jaaap this issue got fixed in the [release v1.0.19](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.19)

To avoid this issue, use `setValueAsArray: true` property. By doing so, multiple select's value would be available as JSON string in the hidden input (e.g. '["1", "2"]')

[2021-11-13 09:43] #71 closed

[2021-11-13 09:44] sa-si-dev commented on #72
@Jaaap this issue got fixed in the [release v1.0.19](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.19)

[2021-11-13 09:44] #72 closed

[2021-11-13 09:46] sa-si-dev commented on #73
@Jaaap this issue got fixed in the [release v1.0.19](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.19)

To avoid this security issue, use `enableSecureText: true` property.

[2021-11-13 09:46] #73 closed

[2021-11-13 09:46] sa-si-dev commented on #74
@RicPap this issue got fixed in the [release v1.0.19](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.19)

[2021-11-13 09:46] #74 closed

[2021-11-13 15:50] Jaaap opened #80 "Value with quote character is not displayed"
With v1.0.19 and this snippet:
[code]
You can select the first option and it will be displayed as a value-tag.
1. If you select the second option, it is not displayed as a value-tag.
2. If you select both options and then deselect option one by clicking its clear-icon, both values will be deselected.

[2021-11-15 06:11] sa-si-dev commented on #80
@Jaaap I will check and fix it in the future release.

[2021-11-15 10:26] Jaaap commented on #71
Ah thank you for this solution.
I realise i have not made clear what i want to achieve:
To make it behave exactly like a `select[multiple]` which means a separate `input[type=hidden]` for each value.

That way we can use it as a progressive enhancement on an existing select.
Is that feasible?

[2021-11-17 05:41] sa-si-dev commented on #71
@Jaaap, The concept of this plugin is to improve the performance by avoiding the number of DOM elements on the page.
If we add a separate `input[type=hidden]` for each option, this might affect the performance.

[2021-11-18 10:16] Jaaap commented on #71
Yes your performance is awesome!
I think it will still be acceptable if you start without any `input[type=hidden]` for `multiple` and dynamically add `input[type=hidden]`'s when users select options.

[2021-11-21 09:20] sa-si-dev commented on #71
@Jaaap I will try this and use it if not affecting the performance.

[2021-11-27 16:33] ERIS-VN opened #83 "Error on mobile"
It not working after clear value

[2021-11-27 16:55] sa-si-dev commented on #83
@ERIS-VN I will check and fix it in the future release. Thanks for letting me know it.

[2021-12-05 09:30] sa-si-dev commented on #80
@Jaaap this issue has been fixed in the release [v1.0.20](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.20)

[2021-12-05 09:30] #80 closed

[2021-12-05 09:31] sa-si-dev commented on #83
@ERIS-VN this issue has been fixed in the release [v1.0.20](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.20)

[2021-12-05 09:31] #83 closed

[2021-12-15 15:00] Jaaap commented on #71
Gentle reminder.
Is this still on your radar?

[2021-12-16 04:08] sa-si-dev commented on #71
I tried this method. Even though we add hidden input for only selected options, there may be a case where select all action would add hidden input for all options available.

[2021-12-16 19:43] bes-internal commented on #57
@sa-si-dev Why are you only marking the item itself disabled? You just make it visually inaccessible. The hidden input also needs to be with attr disabled. Otherwise, it is sent to the server from the form. Disabled items should not be sent to the server.

[2021-12-16 19:58] bes-internal opened #84 "sponsor button"
First of all, I want to express my deep gratitude to you for the excellent things that you have already done and I am sure are still implementing.
Please add a sponsor button to your repositories.

[2021-12-17 03:23] sa-si-dev commented on #57
@bes-internal thanks for letting me know it. I will do the required changes in the future release.

[2021-12-18 05:40] sa-si-dev commented on #84
@bes-internal thanks for your gratitude. I will add the sponsor button.

[2021-12-18 07:28] sa-si-dev commented on #57
@bes-internal this issue has been fixed in the release [v1.0.21](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.21)

Use the below methods to disable/enable dropdown

[code]

[2021-12-18 12:06] bes-internal opened #85 "Drop-in replacement for <select>"
The idea is to drop-in replace regular `<select>` with virtual-select. Including for backward compatibility.

Need to deepen the idea of  [using data-* attributes on node](https://sa-si-dev.github.io/virtual-select/#/properties?id=using-properties-as-dom-attributes). There are limitations as indicated in the documentation. Following properties are not allowed to use as attribute:

1. options (need

[2021-12-18 13:25] bes-internal opened #86 "Element's initial state - disabled"
1.0.21 introduced methods `disable()`/`enable()`. Along with this there were problems:

1. need to set the initial state of the element as definition (property)
2. maybe need to fire `change` the event on `disable()`/`enable()`
3. analog of a property `silentInitialValueSet ` or totaly rework this idea

[2021-12-19 07:53] sa-si-dev commented on #85
@bes-internal this is a good suggestion. I will implement it in the future release. Thanks for your support to improve this plugin.

[2021-12-19 07:57] sa-si-dev commented on #86
@bes-internal thanks for your suggestions. I will check and implement 1 and 2 points in the future release.

Could you please explain your 3rd point.

[2021-12-19 11:39] bes-internal commented on #86
If you implement `change` events on the `disable()`/`enable()` methods AND if you set the initial state "disabled" through the internal way init->`disable()`, then you will need an option that prevents such an event from being triggered (like property `silentInitialValueSet`).
Therefore, perhaps it is worth not using events during the initial initialization, both for setting the selected value and

[2021-12-19 13:05] sa-si-dev commented on #86
@bes-internal thanks for the explanation. I will think about it and implement it.

[2021-12-20 20:52] bes-internal commented on #85
I would like to get the following parameters (passed during initialization) back in the form of node propertys (as in a regular `<select>` node):

- [x] .value  (already done)
- [ ] .name
- [ ] .disabled
- [ ] .form (for use as `event.target.form` where target is [virtual-select](https://github.com/sa-si-dev/virtual-select). Not necessary but desirable)
- [x] .multiple (already done)
- [ ] .requir

[2021-12-21 03:22] sa-si-dev commented on #85
@bes-internal I will implement this changes in the future release.

[2021-12-26 08:01] sa-si-dev commented on #86
@bes-internal I have added support to disable dropdown while initialization with new property `disabled: true`.

This feature is available in the [release v1.0.22](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.22)

I don't think triggering the `change` event on disabling/enabling dropdown would be an expected behavior as there is no change in the value.

[2021-12-26 08:01] #86 closed

[2021-12-26 08:03] sa-si-dev commented on #85
@bes-internal This feature is available in the [release v1.0.22](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.22)  ([more details](https://sa-si-dev.github.io/virtual-select/#/?id=initialize-from-native-select-element-not-recommended))

[2021-12-26 08:06] sa-si-dev commented on #85
@bes-internal This feature is available in the [release v1.0.22](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.22)

.selectedOptions - This prop is not implemented as  we already have `getSelectedOptions()` method and it might affect the performance.

[2021-12-26 08:06] #85 closed

[2021-12-26 14:49] bes-internal commented on #85
Great. Thanks!

the goal is for third-party software to work with this element as with a usual `<select>`

[2021-12-26 15:18] bes-internal opened #88 "add setServerOptions method to docs"
add to documentation
- setServerOptions method
- highlight as one of the main features that you can get results from the server. When I was looking for your project among similar ones, it was one of the decisive factors that you do not need to implement the auxiliary code yourself
- remove this example https://sa-si-dev.github.io/virtual-select/#/methods?id=disable-element or move to Discussions a

[2021-12-26 15:34] bes-internal opened #89 "ele property should use querySelectorAll"
`ele` property takes String values for use in querySelector, but should use querySelectorAll for this definition works:

[code]
(all `select` tags on page)

ref: https://github.com/sa-si-dev/virtual-select/blob/729a1aec380816f67a9aef96fc6a1161a65e2548/src/virtual-select.js#L2577

[2021-12-27 03:49] sa-si-dev commented on #88
@bes-internal thanks for your support. I will update the docs.

[2021-12-27 03:53] sa-si-dev commented on #89
@bes-internal thanks for letting me know it. I will fix this issue in the future release.

[2022-01-02 07:00] sa-si-dev commented on #89
@bes-internal this issue has been fixed in the [release v1.0.23](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.23)

[2022-01-02 07:00] #89 closed

[2022-01-02 07:02] sa-si-dev commented on #88
@bes-internal I have updated the above details in the documentation

[2022-01-02 07:02] #88 closed

[2022-01-05 14:49] Jaaap opened #91 "Implement [required] validation"
It would be awesome if it was possible to make the virtual-select `required`.
The element would have to get a red border if the form was submitted with a virtual-select without a value.
And the submit would also be prevented.

- Bonus kudo's if this `required` property were also toggleable on/off.
- The `form` can be accessd by checking `input[type=hidden]`'s `.form` property (might be null)

[2022-01-05 16:18] sa-si-dev commented on #91
@Jaaap thanks for the suggestion. I will implement it in the future release.

[2022-01-06 09:42] jonirrings opened #92 "bug: initialized with all options selected, but "check all" checkbox not checked"
to reproduce
[code]
[code]
and click the `select` component, after the dropbox expanded, you will see an unchecked `checkbox` aside the `Search` text.
with the options checkbox all checked.

[2022-01-06 14:02] sa-si-dev commented on #92
@jonirrings thanks for letting me know it. I will fix it in the future release.

[2022-01-09 10:54] sa-si-dev commented on #92
@jonirrings this issue has been fixed and available in the [release v1.0.24](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.24)

[2022-01-09 10:54] #92 closed

[2022-01-09 10:57] sa-si-dev commented on #91
@Jaaap this feature has been implemented and available in the [release v1.0.24](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.24)

- Use `required` property to make a dropdown mandatory
- Use [toggleRequired()](https://sa-si-dev.github.io/virtual-select/#/methods?id=togglerequired) method to toggle required value
- Use [validate()](https://sa-si-dev.github.io/virtual-select/#/examp

[2022-01-09 10:57] #91 closed

[2022-01-10 07:16] jonirrings commented on #92
@sa-si-dev nice and thanks for your awesome work.

[2022-01-19 17:23] Jaaap opened #94 "Unable to override name when using native select as elem"
It appears to be impossible to set the name of the virtual select's hidden `input` when `ele` points to an existing `select`:
[code]
The name of the hidden `input` will be "cities1" but should be "cities2".

[2022-01-20 03:03] sa-si-dev commented on #94
@Jaaap this is expected only. Value for any property would be assigned in the below order

- Default value
- Init method parameter
- Element attribute

When initializing the plugin from native select element, it would replace existing native element with virtual select element.

So new element should have same name only.

[2022-01-20 10:06] Jaaap commented on #94
Ah i understand. We use this in combination with `setValueAsArray: true` which changes the format of the data sent to the server.
On the server side we need to be able to see whether a native `select` has posted `cities` data (for blind users and old browsers) OR the virtual-select has posted `cities` data in a different format.

I would suggest changing the order so that "Init method parameter" o

[2022-01-20 14:59] sa-si-dev commented on #94
@Jaaap I don't think this should be the general behaviour.

When we initialize more then one drop-downs, we would give all common properties as init method parameter and drop-down specific properties as element attribute.

Workaround for your case is change the select element's name attribute value before calling init method.

[2022-01-20 15:03] #94 closed

[2022-01-21 18:19] Jaaap opened #95 "Accessibility"
It appears to be impossible to detect the use of a screenreader in JS so we have a need for virtual-select to also work well for people with blindness and other disabilities.

Please consider improving the Accessibility of virtual-select.

This link is a good read on Accessibility:
https://developer.mozilla.org/en-US/docs/Web/Accessibility
and more specific:
https://developer.mozilla.org/en-US/doc

[2022-01-22 05:10] sa-si-dev commented on #95
@Jaaap thanks for the suggestion. I will implement it in the future release.

[2022-01-24 16:14] Jaaap opened #96 "setValueAsArray empty value"
When using `setValueAsArray: true` it would be nice if the "empty value" or default value would be `[]` instead of the empty string.
Is that feasible?

[2022-01-29 03:15] GitHunter0 opened #97 "Labels with HTML"
Please, how can I use HTML tags to customize the labels? For example:
[code]
Any help will be much appreciated.

[2022-02-01 04:54] sa-si-dev commented on #97
@GitHunter0 this case would work by default. To disable using HTML elements, set the property `enableSecureText: true`.

[2022-02-01 04:54] #97 closed

[2022-02-01 12:16] GitHunter0 commented on #97
Thank you @sa-si-dev , `virtual-select` is fantastic, incredibly useful.

[2022-02-02 18:01] GitHunter0 opened #98 "Control Popup width"
Hey @sa-si-dev , it's me again.

I really like the style of having the Dropbox being displayed as Popup for __any screen size__, it is more beautiful, cleaner and allows to use more space of the screen to display more items. `virtual-select` Popup is so good that I even believe it should be the default style.

However, I can't find a way to control the Popup width, I have items with large label te

[2022-02-03 14:17] sa-si-dev commented on #98
@GitHunter0  I will use `dropboxWidth` as max-width for popup box in the future release.

[2022-02-03 15:38] sa-si-dev commented on #98
@GitHunter0 I will implement it in the future release.

[2022-02-03 16:13] GitHunter0 commented on #98
Thanks again @sa-si-dev , I'm using `virtual-select` via this adaptation https://github.com/dreamRs/shinyvs , right now it is the best selector available in `R` in my opinion.

[2022-02-05 19:03] GitHunter0 opened #99 "Input/output ordering issues"
Hey @sa-si-dev , I don't know how to properly communicate the issue here, because I'm not using `virtual-select` directly, I'm using it via [shinyvs](https://github.com/dreamRs/shinyvs), which uses an `R` interface passing the parameters to `virtual-select` as the backend. So I'm sorry about that and I'm hope we can find a way to work around it.

The problem I'm facing is that `virtual-select` see

[2022-02-06 02:46] sa-si-dev commented on #99
@GitHunter0 thanks for letting me know it. I will implement it in the future release.

[2022-02-06 12:13] GitHunter0 commented on #99
Awesome @sa-si-dev  , I really appreciate your work.

[2022-02-08 20:44] FluffyDiscord opened #100 "Prevent removing classes that were on the original select"
This plugin removes the whole "select" and replaces it with plain "input" and removes all classes and attributes from it. Would be nice, to at least keep other attributes

[2022-02-08 22:03] FluffyDiscord opened #101 "Multiple doesnt seem to work"
Transforming this
[code]

using

[code]

does not allow me to select more than one item. What am I missing?

[2022-02-09 00:58] Jara92 commented on #100
I would prefer not removing "select" at all. This "feature" makes me mad and I have to use another library now because there is no easy option to use it with my Symfony forms. It is a shame because the plugin works well.

[2022-02-09 03:20] sa-si-dev commented on #101
Use `boolean` value as init property.

[code]

Or, use `multiple` attribute without value in the `select` element

[code]

[2022-02-09 03:24] #101 closed

[2022-02-09 03:28] sa-si-dev commented on #100
@FluffyDiscord I will keep the classes of `select` element in the future release

[2022-02-09 03:32] sa-si-dev commented on #100
I created this plugin as an alternative to native select element. The idea of this plugin is improving performance by removing unwanted DOM elements.

[2022-02-09 06:00] shmilybaozi opened #102 "searching selected issue"
When searching, select all options, all options are selected, not the search filter options

[2022-02-09 06:13] sa-si-dev commented on #102
Use 'selectAllOnlyVisible' property

[2022-02-13 07:30] #102 closed

[2022-02-13 08:48] sa-si-dev commented on #95
@Jaaap I have implemented the accessibility feature based on the document https://www.w3.org/TR/wai-aria-practices/examples/combobox/combobox-select-only.html

Please check it and let me know if I have missed any accessibility attirbutes.

This feature is available in the [release v1.0.25](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.25)

[2022-02-13 08:48] #95 closed

[2022-02-13 08:49] sa-si-dev commented on #96
@Jaaap you could use `emptyValue` property for your case.

This feature is available in the [release v1.0.25](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.25)

[2022-02-13 08:49] #96 closed

[2022-02-13 08:51] sa-si-dev commented on #98
@GitHunter0 you could use `dropboxWidth` and `popupPosition` properties to change the width and position of the popup.

This feature is available in the [release v1.0.25](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.25)

[2022-02-13 08:51] #98 closed

[2022-02-13 08:53] sa-si-dev commented on #99
@GitHunter0 I have updated the code to keep the output order would be the same I the user selected order.

This feature is available in the [release v1.0.25](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.25)

[2022-02-13 08:53] #99 closed

[2022-02-13 08:55] sa-si-dev commented on #100
@FluffyDiscord I have updated the code to keep the class names of the native `select` element.

This feature is available in the [release v1.0.25](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.25)

[2022-02-13 08:55] #100 closed

[2022-02-13 22:41] GitHunter0 commented on #98
@sa-si-dev , you're the man! Thanks a lot!

[2022-02-13 22:44] GitHunter0 commented on #99
@sa-si-dev , what a great news! This is really important to my current app, I will test it as soon as https://github.com/dreamRs/shinyvs updates it.

[2022-02-21 03:12] bunajianke opened #105 "multiple option can't use in vue"
[code]
![image](https://user-images.githubusercontent.com/32815833/154883093-ca97ef2b-fbd7-48d8-b6f9-cf9881391fef.png)

[2022-02-21 03:14] sa-si-dev commented on #105
@bunajianke as of now this, support values for multiple attribute is true, false or no value.

[2022-02-21 03:23] bunajianke commented on #105
as you see, i set the multiple value is boolean true
[code]

[2022-02-21 03:30] sa-si-dev commented on #105
You should remove the `multiple` attribute from the `div` element.

[2022-02-21 03:35] bunajianke commented on #105
thanks! I incorrect set the attribute in component
[code]
It working

[2022-02-21 03:54] #105 closed

[2022-02-22 03:59] sa-si-dev commented on #64
Refer the discussion page https://github.com/sa-si-dev/virtual-select/discussions/106 to use Virtual Select with React.

[2022-02-22 03:59] #64 closed

[2022-02-23 18:09] Jaaap opened #107 "Disabled options do not unset the `focused` class of the previously hovered option"
When a multiselect has disabled options, like here:
https://sa-si-dev.github.io/virtual-select/#/examples?id=disabled-options

If you first hover over an *enabled* option and then hover over a *disabled* option the first option is still `focused` and highlighted.

![image](https://user-images.githubusercontent.com/243016/155380484-1226e329-99cb-4a5f-9876-190141ff2cba.png)

It would be nice if "Opt

[2022-02-23 22:58] masdar80 opened #108 "search doesn't work on multi levels grouping"
in my case i built a multi levels grouping  as the following example :
` options: [
		{ label:'Option Group 1' ,
				options: [
						{ label:'Option Group 1-1' , value:'4'},
						{ label:'Option Group 1-2' , value:'238'},
						]
		},
		{ label:'Option Group 2' ,
				options: [
								{ label:'Option Group 2-1' ,
										options: [
										{ label:'Option Group 2-1-1' , value:'9'},

[2022-02-24 03:53] sa-si-dev commented on #108
@masdar80 as of now, this plugin would be working fine for 1 level of options group only.

I will provide support for multi level options group in the future release.

Thanks for letting me know it.

[2022-02-24 03:54] sa-si-dev commented on #107
@Jaaap I will fix this issue in the future release.

Thanks for letting me know it.

[2022-02-24 18:47] masdar80 commented on #108
Thank you it will be a good feature to add
for now i am using
`onServerSearch: onSampleSelectServerSearch,`
instead
but i lost the ability to select (lost the checkbox) for main groups, when i remove the onServerSearch property i get the checkbox back for the main groups.
it is important for me because user can check all children categories by choosing the father category
any idea please?

[2022-02-25 10:04] Jaaap opened #109 "popup opens above values even when there's a lot of space below"
The popup will open above the values instead of below even when there is 2x the height of the popup available as spoecae below the values.
See screenshots, the blue bar represents the footer (or the bottom of the page):

![image](https://user-images.githubusercontent.com/243016/155695788-1fd5601b-1f33-4a0a-a22d-65c289b5714d.png)

Now with the browser window a little bigger:
<img width="747" alt="i

[2022-02-28 03:47] sa-si-dev commented on #109
@Jaaap I will check and fix it in the future release.

[2022-03-09 20:01] GitHunter0 commented on #99
Hey @sa-si-dev  , I came back to provide some feedback.

First, thanks again for the work.

I did some tests and I'm still having some issues. Here's a MWE using `R`:
[code]

Initial screen: output should be `val2, val4, val1` (in some previous tests it was correct but not anymore for some unknown reason)
![image](https://user-images.githubusercontent.com/26294221/157523872-fe54cf30-1264-49f8-988a

[2022-03-17 12:39] joselrio opened #114 "SelectAll when multiple=true and already filtered."
Hi there,

During our implementation we're facing an issue related with select all when **multiple=true**.

When we start writing at the input and the list remains filtered if we select all, It's expected to get all the filtered options as a selected options and not all the options.

Here a video that show this behaviour.
https://user-images.githubusercontent.com/5339917/158809858-d521d448-6ab8-41

[2022-03-17 13:23] sa-si-dev commented on #114
Set `selectAllOnlyVisible: true` property to get this feature.

[2022-03-17 23:05] gnbm opened #115 "When opening at the top and while filtering the element gets dettached"
Hi.
First of all, I have to congratulate you on the amazing work you're doing with this lib.
I found a use case that could be improved from an experience point of view that is related to the fact that when the dropdown opens at the top and we start filtering the options, the ballon with the options gets detached from the selected element as you can see on the GIF:
![DropdownDetached](https://user-

[2022-03-18 02:36] sa-si-dev commented on #115
@gnbm thanks for letting me know this issue.

I will fix this issue in the future release.

For positioning drop-down I have used my another plugin [https://github.com/sa-si-dev/popper](https://github.com/sa-si-dev/popper)

[2022-03-18 09:11] joselrio commented on #114
Oh... sorry to raise this as an issue! My bad!
Thanks!

[2022-03-18 09:11] #114 closed

[2022-03-22 11:30] joselrio opened #118 "Scroll issue at small screens (mobile landscape)"
Hi,

I attached a gif that shows the misbehaviour when we're dealing with mobile landscape screens, where the items are not been visible at the right place inside dropdown balloon.
After some quick tests, the issue is related with the translate calculation since the items are there but not in the right position due to that change.

Thanks for your good work!

![Untitled](https://user-images.github

[2022-03-22 12:34] sa-si-dev commented on #118
@joselrio thanks for letting me know it. I will fix it in the future release.

[2022-03-22 14:58] joselrio opened #119 "Change Event also occurs at the initialisation."
Hi,

After some tests I can say that the **[change](https://sa-si-dev.github.io/virtual-select/#/events?id=on-change)** event is also triggered at the initialisation of the plugin and not only at "on choosing option" as it should.

Thanks in advance.

[2022-03-22 15:01] sa-si-dev commented on #119
@joselrio to disable this event trigger set `silentInitialValueSet: true`

[2022-03-22 15:26] joselrio commented on #119
Oh... Thanks!

Already tried and it works well. On my case I'm not setting a default value that way I didn't try it. That said, as a suggestion you could improve the documentation by adding this extra info as well :)

Again, thanks for your work!

[2022-03-22 16:59] gnbm commented on #115
@sa-si-dev Do you have an estimate about when would you do a release with this fix?
Once again, great work and thank you for the fast reply 🚀

[2022-03-23 15:37] sa-si-dev commented on #107
This issue has been fixed in the [release v1.0.27](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.27)

[2022-03-23 15:37] sa-si-dev commented on #109
This issue has been fixed in the [release v1.0.27](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.27)

[2022-03-23 15:37] #109 closed

[2022-03-23 15:38] sa-si-dev commented on #115
This issue has been fixed in the [release v1.0.27](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.27)

[2022-03-23 15:38] #115 closed

[2022-03-25 13:06] Jaaap opened #121 "Warnings when using "use strict""
When you enforce [Strict mode](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode), in our case because we use [closure-compiler-maven-plugin](https://github.com/blutorange/closure-compiler-maven-plugin) in ECMASCRIPT_2016 mode which does enforce strict mode as its default setting, VirtualSelect triggers a bunch of warnings:
[code]

The line number is always 5 because of

[2022-03-30 12:00] guilhermerover opened #122 "Does not show when inside an overflow css property"
When you open a select inside a div with overflow css property, this happend:
![image](https://user-images.githubusercontent.com/53487180/160829216-a0ab3511-71a5-40c6-9469-c03b15e29297.png)

He just show when the div have a space to show the entire select options:
![image](https://user-images.githubusercontent.com/53487180/160829594-5f2e410e-0bad-49e7-b70d-5b96604cdb0c.png)

[2022-04-01 18:53] gnbm commented on #122
Hello.
I'm also having issues when using the dropdown, when in popup mode, inside Tabs (elements with overflow hidden). If the popup got for instance detached (like usually, a tooltip works for instance) this could be fixed.
Any plans to fix this behavior at least for the popup mode where this makes even more sense?
![InsideTabsOverflowHidden](https://user-images.githubusercontent.com/29493222/161

[2022-04-02 03:58] sa-si-dev commented on #122
@guilhermerover set `dropboxWrapper: 'body'` property to solve your issue.

[2022-04-02 04:03] sa-si-dev commented on #122
@gnbm this feature already available, set `dropboxWrapper: 'body'` property to solve your issue.

[2022-04-02 04:05] #122 closed

[2022-04-02 20:42] gnbm commented on #122
Thank you very much for the quick answer @sa-si-dev

[2022-04-05 15:46] qingyuyu opened #123 "About multi-Select for multi-level options"
I found that the setOptions method will update the value of the selection div. In a case where there are four multi-select div and I would like to update the remaining div options  according to the results from the server each time I choose an option. Is any possible that I can do that?

[2022-04-06 02:51] sa-si-dev commented on #123
If I understood your requirement correctly, you have to call an ajax function on first drop-down change and on ajax success, call setOptions for other drop-downs.

[2022-04-06 22:28] GitHunter0 opened #125 "Input/output ordering issues [issue #99 reopened]"
Hey @sa-si-dev , I think you did not see my follow up on #99 , so I took the liberty to reopen it here if that's ok.

The remaining issues are reported in this comment:
https://github.com/sa-si-dev/virtual-select/issues/99#issuecomment-1063313867

I would appreciate a lot if you can take a look on that.

[2022-04-07 02:46] sa-si-dev commented on #125
@GitHunter0 I will check and fix those issues in the future release.

[2022-04-07 13:17] GitHunter0 commented on #125
Thanks a lot, @sa-si-dev

[2022-04-07 14:03] qingyuyu commented on #123
Exactly. Then any easy way to do that? One way I thought about was that I would have had a condition for each drop-downs before I setOptions for them.  What if makes some change on native code?

[2022-04-07 14:32] sa-si-dev commented on #123
What do you mean by "change on native code"?

[2022-04-08 13:04] BenOsodrac opened #126 "Misbehavior with dropboxWrapper: 'body'"
We tried to use the dropboxWrapper: 'body'  to fix some issues when the virtual-select was inside some elements with overflow. However, we found some issues with this option enable (tested with versions v1.0.26 and v1.0.27).

After selecting one of the options, it is no longer possible to close the dropbox:
https://i.imgur.com/i8oIGhm.gif

It seems that it's removing the class 'pop-comp-active' wh

[2022-04-09 03:01] sa-si-dev commented on #126
@BenOsodrac I will check and fix it in the future release.

[2022-04-09 03:11] sa-si-dev commented on #126
@BenOsodrac It is working for me.

Please share error message, if there is any in the console.

Try examples in the plugin [documentation] (https://sa-si-dev.github.io/virtual-select/#/examples?id=show-values-as-tags).
Let me know if you get same behaviour there.

[2022-04-10 02:10] dragomano opened #127 "Select max-width option"
Hi. Can you add an additional option to change a select max-width?

[code]

[2022-04-10 05:51] sa-si-dev commented on #127
@dragomano I will add this feature in the future release.

[2022-04-10 06:30] qingyuyu commented on #123
Maybe we could add a feature that user could select if they want reset the options list each time they call setOptions.

[2022-04-10 06:42] sa-si-dev commented on #123
Sorry, I am not getting your point here. The functionality of setOptions is to reset options list only.

[2022-04-11 08:09] BenOsodrac commented on #126
Hi @sa-si-dev,

Thanks for the feedback.

I have no errors on console on this, just runtime misbehaviors. I checked your demos and in fact it seems to be working there!

I will try to have a screen as clean as possible where this issue happens and share it with you!

Thanks,
Bernardo

[2022-04-11 08:51] BenOsodrac commented on #126
Hi @sa-si-dev, here's the link with the issue:

[2022-04-11 13:33] sa-si-dev commented on #126
I will check it.

[2022-04-15 13:12] nimeshgorfad opened #132 "Can not get custom attribute from selected option."
Can not get custom attribute from selected option.

[2022-04-15 15:36] sa-si-dev commented on #132
Check https://github.com/sa-si-dev/virtual-select/discussions/131#discussioncomment-2574849

[2022-04-16 15:15] #132 closed

[2022-04-17 07:15] sa-si-dev commented on #121
As I checked on the given line and column number, it seems those warning syntaxes are added by Webpack while optimizing code.
And, I hope that Webpack is doing that to improve the performance only.

[code]

[2022-04-17 07:15] #121 closed

[2022-04-17 07:57] sa-si-dev commented on #118
@joselrio @gnbm This issue has been fixed in the [release v1.0.28](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.28)

[2022-04-17 07:57] #118 closed

[2022-04-17 07:58] sa-si-dev commented on #125
@GitHunter0 This issue has been fixed in the [release v1.0.28](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.28)

[2022-04-17 07:58] #125 closed

[2022-04-17 08:02] sa-si-dev commented on #126
@BenOsodrac This issue has been fixed in the [release v1.0.28](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.28)

[2022-04-17 08:02] #126 closed

[2022-04-17 08:06] sa-si-dev commented on #127
@dragomano This feature has been implemented as `maxWidth` property in the [release v1.0.28](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.28)

[2022-04-17 08:06] #127 closed

[2022-04-17 20:11] Jaaap commented on #121
Is it possible to build an unminified version of the javascript and publish it next to
https://raw.githubusercontent.com/sa-si-dev/virtual-select/master/dist/virtual-select.min.js
so
https://raw.githubusercontent.com/sa-si-dev/virtual-select/master/dist/virtual-select.js
That would be *very* helpful.

[2022-04-18 00:42] GitHunter0 commented on #125
@sa-si-dev , awesome! I will test it and give you feedback as soon as https://github.com/dreamRs/shinyvs update it

[2022-04-18 04:32] sa-si-dev commented on #121
I will check the possibilities and add unminified file.

[2022-04-18 09:26] BenOsodrac commented on #126
@sa-si-dev Awesome!

Thanks for your work,
Bernardo

[2022-04-19 06:45] freddidierRTE opened #134 "Group label viewed as tag when group is selected"
When using group option and user select the group , it show up in  the input field :

![image](https://user-images.githubusercontent.com/58251627/163940859-e86d3496-0321-4c65-8091-890915d8ca68.png)

Would it be possible to not show the tag for the group ?  (group 1 on the example)

Furthermore , you cannot remove the group using the cross on the tag.

I use option `useGroupValue` but it does not c

[2022-04-19 08:19] sa-si-dev commented on #134
@freddidierRTE thanks for letting me know it. I will fix it in the future release.

[2022-04-21 12:06] krispern opened #135 "Virtual-select from a native select element, that has an empty value selected, shows values as a comma-separated list"
Virtual-select from a native select element, that has an empty value selected, shows values as a comma-separated list. This is true even when the multiselect is `false`.

Steps to repeat:
1. Create a `<select>` with some options
2. Initialise the VirtualSelect component
3. Select any option from the list
4. Value displayed in the field starts with a comma

Codepen: https://codepen.io/krispern/deta

[2022-04-21 14:28] sa-si-dev commented on #135
@krispern I will fix this issue in the future release. Thanks for letting me know it.

[2022-04-21 14:53] krispern opened #136 "`<optgroup>` from native select element isn't converted to the virtual-select"
`<optgroup>` from native select element isn't converted to the virtual-select

Steps to repeat:
1. Create a <select> with an `<optgroup>` element and some options
2. Initialise the VirtualSelect component
3. The options are shown, but the optgroup value is not

Codepen: https://codepen.io/krispern/pen/MWrxBzM

[2022-04-24 10:00] sa-si-dev commented on #121
@Jaaap I have added an uncompressed file [virtual-select.js](https://github.com/sa-si-dev/virtual-select/blob/master/dist/virtual-select.js) in the dist folder. Please check it and let me know if there is any warning in your build.

[2022-04-24 10:03] sa-si-dev commented on #134
@freddidierRTE This issue has been fixed in the [release v1.0.29](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.29).

[2022-04-24 10:03] #134 closed

[2022-04-24 10:03] sa-si-dev commented on #135
@krispern This issue has been fixed in the [release v1.0.29](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.29).

[2022-04-24 10:03] #135 closed

[2022-04-24 10:04] sa-si-dev commented on #136
@krispern This feature has been implemented in the [release v1.0.29](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.29).

[2022-04-24 10:04] #136 closed

[2022-04-27 17:37] #123 closed

[2022-04-28 15:38] ahsynv opened #137 "Easy init for options"
Hi,

Actually, to add some options, we do something like this:

` options: [
            {
                "label":"test1",
                "value":"test1"
            },
            {
                "label":"test2",
                "value":"test2"
            },
            {
                "label":"test3",
                "value":"test3"
            },
....
        ],`

As you can see, the "la

[2022-04-28 15:43] ahsynv opened #138 "Select by default all available options"
Hi,

Is it possible to add an option which will select all options available by default? It is useful for example when we are using the "showValueAsTags" option, and we need to "selectedValue" parameter takes automatically all "options" values and set them "selected".

Thanks

[2022-04-28 16:47] sa-si-dev commented on #137
@ahsynv For first structure, you could set `labelKey: 'value'` to use value property for both label and value.

For second structure, I will implement it in the future release.

Thanks for the suggestion.

[2022-04-28 16:50] sa-si-dev commented on #138
@ahsynv you could use [toggleSelectAll()](https://sa-si-dev.github.io/virtual-select/#/methods?id=toggleselectall) method to select/deselect all options.

[2022-04-29 12:55] ahsynv opened #139 "Minimum options"
Hi,

Do we have an option to define a minimum options?

Like this feature: https://sa-si-dev.github.io/virtual-select/#/examples?id=maximum-values
But for exemple if we have 5 options and minimum 2 options are required, disable "uncheck" for last selected values.

Thanks

[2022-05-04 20:31] warmwhisky opened #140 "VirtualSelect is not defined"
I have followed the Getting Started instructions
[code]

And

`<div id="sample-select"></div>`

[code]

I continue to get the `VirtualSelect is not defined` error

I am compiling with Laravel Mix and can confirm both virtual-select.css and virtual-select.js files are in my app.css and app.js

[code]

[2022-05-04 20:35] warmwhisky commented on #140
Literally 10 seconds after I posting this I realised my app.js file was in the head with the defer attribute. I placed it below the content near the closing body tag and hey presto it worked :p

[2022-05-04 20:35] #140 closed

[2022-05-04 20:51] warmwhisky opened #141 "additionalClasses not being applied"
When I use the property `additionalClasses` they are being applied before the plugins classes and do not get applied.

I would like to style the input the same way I my own inputs using tailwind.

Any idea what I am doing wrong or misunderstanding here?

Here is my current VirtualSelect.init
[code]

[2022-05-06 13:50] sa-si-dev commented on #141
@warmwhisky `additionalClasses` would be added with container element.

To customize the drop-down button, add styles to `.vscomp-toggle-button` element.

[2022-05-06 16:40] mai1237 opened #142 "Customize width"
Is there a way to customize the width of the object?

[2022-05-06 17:00] sa-si-dev commented on #142
What do you mean by "width of the object"?

[2022-05-07 11:07] mai1237 commented on #142
the <select class="w-full"> does not working in tailwind

[2022-05-07 11:10] sa-si-dev commented on #142
@mai1237 sorry. I couldn't understand your question.

[2022-05-08 05:51] warmwhisky commented on #141
@sa-si-dev Thank you. That's got it for me :)

[2022-05-08 05:51] #141 closed

[2022-05-11 10:10] gnbm opened #143 "Dropdown content text got blurred"
Hello.
I updated the library to version 1.0.29 (I was using 1.0.27) and on several screen resolutions I started having a major visual breaking change where the text inside the dropdown when opened gets blurred as you can see:

![textBlurred2](https://user-images.githubusercontent.com/29493222/167826307-9bf8f8d1-dd44-4a05-b4f0-c0674ff0b3b6.png)

It seems to be something related to an inline style t

[2022-05-11 13:04] gnbm opened #144 "Dropbox Wrapper = body not working well with multiple selection"
Hello.
I updated the library to version 1.0.29 (I was using 1.0.27) to take advantage of an issue that was reported to be fixed but got another issue. Basically, when we have dropboxWrapper='body' and we are using multiple selections, once we start selecting the options we can't any longer close the dropdown (we can even see the arrow switching):
![IssueBodyWrapperMultipleSelection](https://user-i

[2022-05-11 13:31] sa-si-dev commented on #143
Please share your page URL.

[2022-05-11 13:33] sa-si-dev commented on #144
Please share your page URL.

[2022-05-11 13:46] gnbm commented on #143
This is a page from an internal infrastructure that you won't be able to access. I'll try to replicate on a codepen

[2022-05-22 09:46] jmakoni commented on #143
Hi gnbm,

How did you customise to get that look and feel?

[2022-05-22 11:25] yahyaerturan opened #146 "Options can be selected even if dropdown is closed."
I have two virtualSelect on the page. Using BS5. In below image, red arrows represent mouse pointer positions. At red points cursor is in hand form. When you click it changes the value inside Virtual select. But Virtual select is not opened. Even on form field named Argument 2, when we click it is not being focused in input text field. It selects a value from VS dropdown.

<img width="1023" alt="i

[2022-05-23 02:39] sa-si-dev commented on #146
I will check and let you know.

[2022-05-23 04:40] yahyaerturan commented on #146
Code is in dev environment but please let me know what you are suspicious about. I can send you all the code fragments. Thank you.

[2022-05-23 08:42] sa-si-dev commented on #146
Try property `dropboxWrapper: 'body'`

[2022-05-23 15:09] freddidierRTE opened #148 "Select only the results of the search"
When you make a search :

![image](https://user-images.githubusercontent.com/58251627/169849561-689d4bdf-78da-4c23-8e8b-9569f8e7321b.png)

If you click on the checkbox on the left of the search it should select only the result of the search and not all the options :

![image](https://user-images.githubusercontent.com/58251627/169849794-199f7424-8cc5-4187-a280-c70eec59e6df.png)

[2022-05-23 16:26] sa-si-dev commented on #148
@freddidierRTE set `selectAllOnlyVisible: true` to enable this feature.

[2022-05-23 18:23] freddidierRTE commented on #148
It works , thanks !

[2022-05-23 18:23] #148 closed

[2022-05-23 19:35] yahyaerturan commented on #146
Done! Sorry I missed that property in documentation.

[2022-05-23 19:35] #146 closed

[2022-05-25 02:43] #139 closed

[2022-05-25 08:23] sa-si-dev commented on #139
Okay. I will implement it in the future release.

Thanks for the suggestion and explanation.

[2022-05-26 15:09] JoaoFerreira-FrontEnd commented on #144
Hi team,
I worked with @gnbm, and I'ld like to share the sample for this.
https://jsfiddle.net/joaoMFerreira/4g0s7unx/25/

I found out that the issue was replicated every time we destroy and initialize the same select, we are doing this because we need to update some parameters, and there isn't a method for that.

Apart from it I found out that the click listeners are not removed by the destroy()

[2022-05-27 03:14] sa-si-dev commented on #144
@JoaoFerreira-FrontEnd I think this could be the reason. I will check and fix it. Thanks for sharing it.

[2022-05-27 12:34] gnbm commented on #143
Not sure I got the question, but it's custom CSS on top of the virtual select styles like we usually do on frontend work

[2022-05-30 16:05] freddidierRTE opened #151 "Option SelectAllOnlyVisible set to true , can not unselect all visible"
selectAllOnlyVisible set to true , when select all visible after search :

![image](https://user-images.githubusercontent.com/58251627/171028277-6a5b3310-e8fd-4640-bb71-6466bb178d19.png)

The checkbox for all is not selected  (FR on the screenshot ) and you can not unselect

[2022-05-31 11:18] krispern opened #152 "Mouse scroll doesn't work properly"
Steps to recreate (also happens on the Get Started page demo fields):
1. Open the dropdown
2. Hover over the open list and try to scroll with the mouse middle button
3. Works once, not after that until you move the mouse.

Works fine when hovering over the dropdown's scrollbar

[2022-06-01 04:48] sa-si-dev commented on #151
@freddidierRTE this is expected behaviour only. Here not all options are selected, if you clear the search text, there would be some unselected options.

[2022-06-01 05:15] sa-si-dev commented on #152
It is working as expected for me.

May I know which OS and browser you are using.

[2022-06-01 05:40] krispern commented on #152
I'm on Windows 10, Google Chrome Version 102.0.5005.62 (Official Build) (64-bit). Tried turning off all extensions, no change, still gets stuck after the first scroll.

Tested other browsers:
Works correctly on Firefox, Opera, Vivaldi, Edge. IE didn't load the demo page

[2022-06-01 06:43] freddidierRTE commented on #151
ok , so i may ask if it is possible to change the behavior ?

The idea would be  , if selectAllOnlyVisible is set to true :

- The checkbox is selected if all visible options are selected
- If we click on the checkbox when unselected , all visible options become selected
- If we click on the checkbox when selected , all visible options become unselected

The actions on the selectAll chechbox would

[2022-06-01 09:13] sa-si-dev commented on #151
Thanks for the suggestion. I will implement it in the future release.

[2022-06-04 07:57] sa-si-dev commented on #84
Added sponsor button.

[2022-06-04 07:57] #84 closed

[2022-06-04 17:43] IcyFrogs commented on #152
Me too. It was working perfectly fine up until a few days ago.

[2022-06-06 00:02] bes-internal commented on #142
@mai1237 Width set to 100% and default max-width set to 250px. You can customize max-width with `maxWidth` property starting from v1.0.28

[2022-06-10 09:39] shaangidwani opened #153 "Dropdown scroll with wheel mouse is very very slow"
Dropdown scroll with wheel mouse is very very slow.

When user try to scroll with wheel mouse its moving very slow. 2-3 records per scroll.

It should very very smooth like standard dropdown  with 10 records.

[2022-06-10 11:35] sa-si-dev commented on #153
@shaangidwani I will check and fix it in the future release.

Thanks for letting me know it.

[2022-06-18 15:30] #142 closed

[2022-06-18 15:53] sa-si-dev commented on #137
@ahsynv I have added a feature to init with an array of strings as options.

This feature is available in the [release v1.0.30](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.30)

[2022-06-18 15:53] #137 closed

[2022-06-18 15:53] sa-si-dev commented on #144
@gnbm This issue has been fixed in the [release v1.0.30](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.30)

[2022-06-18 15:53] #144 closed

[2022-06-24 19:34] gnbm commented on #143
@sa-si-dev I updated to the latest version 1.0.30 and I still get this issue.
You can find a sample on [this page](https://personal-63r2lngs.outsystemscloud.com/VirtualSelectIssues/DropdownSearch)
This provides a really poor experience in terms of UI to the customers so once again we'll postpone the upgrade. Thank you

[2022-06-26 12:18] IcyFrogs commented on #152
I don't think this issue exists anymore. Resolved with the latest chrome browser.
Thanks

[2022-06-27 19:38] gnbm opened #156 "Detached ballon flickering when scrolling"
Hello.
I updated the library to version 1.0.30 (I was using 1.0.27) to take advantage of an issue that was reported to be fixed (#144) but got another issue. Basically, when we have dropboxWrapper='body' and we are scrolling with the detached ballon, the animation is not fluid and we get a flickering. Probably using a requestAnimationFrame() would do the trick but I was not able to try it out

![D

[2022-06-28 03:02] sa-si-dev commented on #156
I have throttle time of 100ms for scroll event. I will give a property to configure it in the future release.

[2022-06-28 10:54] gnbm commented on #143
@sa-si-dev Were you able to reproduce the issue I reported? At least I can reproduce 100% of time? Tested in Chrome, Firefox and Edge

[2022-06-28 11:10] joselrio opened #157 "Trigger Search does not occur when paste using mouse."
Hi there,

When user uses mouse to paste text inside search input, the search (onSearch) does not occur.

After looking into library code, you're missing the **cut** and **paste** event at the search input that also should trigger it ;)

Thanks in advance!
JR

[2022-06-28 12:23] sa-si-dev commented on #157
@joselrio thanks for letting me know this issue. I will fix it in the future release.

[2022-06-28 13:17] gnbm commented on #143
@sa-si-dev You can replicate it depending on the screen resolution it seems. I have a laptop connected to a wide screen monitor and on the monitor, it doesn't happen but on my laptop it does.
Example:
![ImageInfo](https://user-images.githubusercontent.com/29493222/176188376-76365dee-d53e-4a6e-af4f-3bfc5bc230ce.PNG)

[2022-07-04 20:22] gnbm commented on #143
@sa-si-dev Were you able to replicate it with the last information I provided? Thank you in advance

[2022-07-06 03:42] sa-si-dev commented on #143
@gnbm it seems it is working fine in my machine.

Could you please share your browser version and OS name.

[2022-07-06 08:24] gnbm commented on #143
@gnbm I'm using Windows 10 Enterprise and I can replicate it 100% of times in:
- Chrome (currently, Version 103.0.5060.66 (Official Build) (64-bit) but I update it all the time)
- Edge (currently, Version 103.0.1264.44 (Official Build) (64-bit))
In Firefox I can't replicate it all the time

[2022-07-07 07:41] krispern commented on #152
Yes, it's no longer getting "stuck".

[2022-07-07 07:41] #152 closed

[2022-07-07 11:43] joselrio commented on #143
Hi @sa-si-dev,
I'm able to reproduce this behaviour 100% the times...

Using **MacOS**, and here's the feedback:
- ❌ **Chrome** - **gets blurry** => Version 103.0.5060.53 (Official Build) (arm64)
- ❌ **Safari Technology Preview** - **gets blurry** => Release 139 (Safari 15.4, WebKit 17613.1.14.41.3)
- ✅ **Firefox** - **Working as expected** => 101.0.1 (64-bit)

[2022-07-13 16:50] bmarcelino-fe commented on #143
Hi @sa-si-dev,

On our project we have the same behaviors, the blurred text on dropdown appears in different browsers. You can check it using the example on your [website](https://sa-si-dev.github.io/virtual-select/#/?id=get-started).

- ❌ Safari
- ❌ Safari Technology Preview
- ❌ Chrome

The browsers has the latest versions and i'm using MacOS.

[2022-07-15 18:12] jeijei4 opened #160 "Method setEnabledOptions does not exist"
Example:
[code]

[2022-07-16 04:12] sa-si-dev commented on #160
@jeijei4 I will implement it in the future release.

[2022-07-16 04:20] sa-si-dev commented on #143
I will check again.

[2022-07-16 17:18] gnbm commented on #143
@sa-si-dev It seems to be something related to an inline style that is added with translate3d but not 100% sure.

[2022-07-17 15:37] sa-si-dev commented on #156
@gnbm this issue has been fixed in the [release v1.0.31](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.31)

[2022-07-17 15:37] #156 closed

[2022-07-17 15:37] sa-si-dev commented on #157
this issue has been fixed in the [release v1.0.31](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.31)

[2022-07-17 15:37] #157 closed

[2022-07-17 15:47] sa-si-dev commented on #143
@gnbm, it is working fine for me. I tried in Mac OS - Chrome Version 103.0.5060.114

https://user-images.githubusercontent.com/76465932/179406055-a1ca50e7-6b63-4861-ba0a-412400b2bc01.mov

[2022-07-17 21:30] gnbm commented on #156
Awesome @sa-si-dev
Thank you for the feedback and once again great work on this component 🚀

[2022-07-17 21:53] gnbm commented on #143
@sa-si-dev This is really strange and it seems I'm not the only one having the same issue that would have a really bad experience on end users. I just retested it without connecting to an external monitor and I'm on a Dell using Windows with this resolution:
![image](https://user-images.githubusercontent.com/29493222/179425962-5260e9e9-dac6-4957-b55f-b7e43e1e9698.png)

Using Chrome:
![DropdownsBlu

[2022-07-17 22:15] gnbm commented on #143
@sa-si-dev Just did a quick test updating to the latest 1.0.31 and it seems that something changed and this behaviour was improved somehow. I'll run more tests along the week and will keep you posted.
Meanwhile, @joselrio @bmarcelino-fe @BenOsodrac could you also test this on your end? It would be great to have more feedback on this.

[2022-07-19 02:42] sa-si-dev commented on #153
As per the comment from an another [issue](https://github.com/sa-si-dev/virtual-select/issues/152#issuecomment-1177203754), this issue is not exist anymore.

@shaangidwani Please try again

[2022-07-20 16:21] joselrio opened #162 "iOS Vs Android different behaviour..."
Hi there,

After our implementation we notice we've different behaviour between Android and iOS devices, basically when iOS if we type something to search at input the balloon goes behind keyboard;
This is happening because iOS and Android devices have different screen sizes when keyboard is open...
![browser_viewports](https://user-images.githubusercontent.com/5339917/180033142-ad32ef5a-5a1b-4199

[2022-07-22 17:16] gnbm commented on #143
After updating to the latest 1.0.31 I was no longer able to reproduce the issue, so will close this issue.

[2022-07-22 17:16] #143 closed

[2022-07-23 05:50] sa-si-dev commented on #162
@joselrio, thanks for letting me know this issue. I will fix it in the future release.

[2022-07-29 07:57] AntoninoBonanno opened #168 "Add Typescript support"
Hi,
is it possible add Typescript support?

Thank you

[2022-07-29 14:40] sa-si-dev commented on #168
This plugin has written on JavaScript, so we can use with typescript project also.

May I know what do you mean by typescript support?

[2022-07-30 10:08] AntoninoBonanno commented on #168
Add files `types` [https://stackoverflow.com/a/53710641](https://stackoverflow.com/a/53710641)

Also it would be very useful to use ES6, so that you can use:

`npm i virtual-select-plugin`

[code]

[2022-07-31 06:22] sa-si-dev commented on #168
@AntoninoBonanno I will add typing file for the plugin in the future release.

[2022-08-05 08:38] joselrio opened #169 "Firefox issues"
Hi @sa-si-dev,

Hope you're well :)

After upgrading to the new version 1.0.31 I notice 2 issues that only happen on Firefox which are:
1. At the open moment the dropdown balloon gets blurry and it flicker to the final position;
2. Sometimes (didn't find the exact moment) but it appears from a wrong position;

This is happening after setting the "dropboxWrapper" to body.

Both this issues can be c

[2022-08-06 03:15] sa-si-dev commented on #169
@joselrio thanks for letting me know this issue.
I will fix this issue in the future release.

[2022-08-08 13:38] joselrio opened #171 "WindowResize issue"
Hi @sa-si-dev,

Found another issue after updating to the latest version (on the scope of https://github.com/sa-si-dev/virtual-select/issues/169) that is related with the window resize, when a resize occurs the dropdown balloon is not following the input.

Thanks for your work!
Cheers,
JR

[2022-08-08 14:09] sa-si-dev commented on #171
@joselrio I will check and fix it in the future release.

Thanks for letting me know it.

[2022-08-12 21:02] LubosSremanak commented on #168
It will be amazing, may I ask when it is planned?

[2022-08-19 15:37] YahyaAltintop opened #172 "How can i remove all options from select?"
I use `setOptions()` method without any parameter but it's not rendering. When i scroll into option list, it's rendering.

I tried use `reset()`  `setOptions()` `renderOptions()` methods at the same time, like this

![Screenshot 2022-08-19 182701](https://user-images.githubusercontent.com/69236857/185653471-9b3c7947-ee8e-418e-94ca-c8438700f3f7.png)

But after 2 calls it throws error

![image](http

[2022-08-20 11:25] sa-si-dev commented on #172
You should call set options method with DOM instance as below.

https://sa-si-dev.github.io/virtual-select/#/methods?id=setoptions

[2022-08-21 05:09] YahyaAltintop commented on #172
But it's not rendering options. When I scroll in the options div, it's render select.

https://user-images.githubusercontent.com/69236857/185776411-79ea5318-986a-4fcb-ab53-175f18c765a0.mp4

[2022-08-21 05:49] sa-si-dev commented on #172
May I know, how do you call `setOptions` method?

What is `fleetBranchSelect` here?

[2022-08-21 08:47] YahyaAltintop commented on #172
Sorry. I'm wrong here

[2022-08-21 08:47] #172 closed

[2022-09-01 09:16] AliBigdeli opened #176 "Wrong behavior when your selecting all searched ones in list"
I was trying to add a functionality with the default settings you already provided and there was one thing bothering me, when I have already a few selected ones in list and I start to search, there will be some results for example, as soon as I hit select all it will overwrite the existing selection instead of adding it and only visible ones are now selected and my older selected ones are gone.
i

[2022-09-01 09:26] sa-si-dev commented on #176
@AliBigdeli this is the expected behaviour as of now. I will find a way to handle your case and implement it.

[2022-09-01 09:36] AliBigdeli commented on #176
Thanks i appreciate  it, and also thank you for the awsome module you provided 👍

[2022-09-01 13:42] SahajJain01 opened #177 "[Bug] Textbox value getting reset when allowNewOption and onServerSearch enabled"
When both properties (allowNewOption and onServerSearch) is enabled,

After typing a search value for which the function bound to onServerSearch doesn't return any results, the option to add new option comes with the + symbol.

On clicking this option, the function bound to onServerSearch gets called again with an empty string param which causes the field to get reset since server returns no resul

[2022-09-13 17:12] gnbm commented on #169
Hello @sa-si-dev
Any update on this issue? Any ETA for the next release?
Thank you for your great work on this component

[2022-09-22 07:12] freddidierRTE commented on #176
linked  with  #151

[2022-09-25 14:20] sa-si-dev commented on #139
@ahsynv I have added a new property `minValues` which would be used with the required validation.

This feature available in the release [v1.0.32](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.32)

[2022-09-25 14:21] sa-si-dev commented on #160
@jeijei4 This feature available in the release [v1.0.32](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.32)

[2022-09-25 14:21] #160 closed

[2022-09-25 14:24] sa-si-dev commented on #171
@joselrio This issue has been fixed in the release [v1.0.32](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.32)

[2022-09-25 14:24] #171 closed

[2022-09-25 14:25] sa-si-dev commented on #177
@SahajJain01 This issue has been fixed in the release [v1.0.32](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.32)

[2022-09-25 14:25] #177 closed

[2022-09-25 14:27] #153 closed

[2022-09-29 06:12] chathu020 opened #187 "Show all options selected"
### Discussed in https://github.com/sa-si-dev/virtual-select/discussions/186

<div type='discussions-op-text'>

<sup>Originally posted by **chathu020** September 29, 2022</sup>
In multiple selection is it possible to show all selected options names without showing as 'X options selected' ?</div>

[2022-10-07 13:55] caiosm1005 opened #190 "MutationObserver destroys VirtualSelect element when moving it in the DOM"
There's an issue when moving a node that contains a VirtualSelect element inside of it in the DOM (e.g. using `.appendChild()`, `.replaceWith()`, etc).

Notice how, in the GIF below, only the label shows up in the bottom container and the VirtualSelect element vanishes.

![ScreenToGif065](https://user-images.githubusercontent.com/4460538/194569418-6496ca4a-09a5-44e8-9d3b-5065abaffb8e.gif)

Fiddle:

[2022-10-07 14:18] caiosm1005 commented on #190
After digging into the code a bit, I found that using the `dropboxWrapper` option enables a MutationObserver that destroys it when triggered by a mutation that has the VirtualSelect element in the removedNodes array.

![image](https://user-images.githubusercontent.com/4460538/194571409-8c988e42-e6c9-4b80-a0e6-018f70f36aff.png)

The problem is, when moving an element in the DOM, it gets two Mutatio

[2022-10-07 15:02] #190 closed

[2022-10-11 06:59] squareclouds opened #192 "Improvement for DOM selects with options that start with value 0"
hi everyone,

i was having trouble when creating virtual-selects from already populated selects. for my cms it is a lot easier in the data handling if the values start with 0. this was creating problems though, since when no value was selected and my values started with 0, the first element was always getting set. for this i suggest this modification in the code. i just check if the selected **att

[2022-10-18 09:43] pareshswipez opened #193 "Dropdown not working in table column"
I am trying to add multiple dropdowns in table but it is not working, dropdown options are hiding in a table cell.

![U9hgsPdalU](https://user-images.githubusercontent.com/54345650/196395851-864ee092-b7c8-4ea4-9b55-d055a7c1cad1.gif)

[2022-10-18 13:46] sa-si-dev commented on #193
@pareshswipez Please use `dropboxWrapper: 'body'` property to avoid this issue.

[2022-10-18 13:48] #193 closed

[2022-10-19 14:15] fredy31 opened #194 "OnChange doesn't seem to work."
[code]

This works on initialising the select, but the log never shows up when I change the select.

[2022-10-20 09:06] feents opened #195 "It's selected as if it's on the screen."
https://jsfiddle.net/u6ezwvjt/

1. click to select box
2. input "test" in search text
3. click to checkbox for search text
4. click to html body
![vs-1](https://user-images.githubusercontent.com/67404954/196903602-769b5217-f8aa-4fab-aa5f-ed5f00ed7eec.png)
(At 4 step, something moves on the screen)

5. click to clear btn
![vs-2](https://user-images.githubusercontent.com/67404954/196904336-c1b3c906-

[2022-10-20 09:51] sa-si-dev commented on #195
@feents thanks for letting me know this issue. I will fix it in the future release.

[2022-10-26 15:54] squareclouds opened #197 "BUG: Create a multiselect from DOM elements with Optgroup"
hello,

it seems there is a bug when:

- i initialize virtual-select from a `<select multiple>`
- the select has at least one `<optgroup>`
- the optgroup is not the first item

then something strange happens. when i click the first item, it does not get selected

![grafik](https://user-images.githubusercontent.com/9073054/198074779-eda800de-6d0d-4bd9-b7d2-995dcd60e968.png)

but if i check the hidd

[2022-10-30 14:10] yahyaerturan commented on #177
I am facing this same issue, clicking on a search result triggers search with an empty term. This issue should be fixed on 1.0.32.. However, 1.0.32 and 1.0.33 i think it is somehow mis-built. As I understand from merged PR, a new `isClearingSearchValue` introduced to fix this issue. But in versioned js file, these changes are missing.  Can you check please? @sa-si-dev @caiosm1005

[2022-10-30 14:38] yahyaerturan commented on #177
Should I open a new issue for this? @sa-si-dev

[2022-10-30 15:22] sa-si-dev commented on #195
@feents this issue has been fixed in the [release v1.0.34](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.34)

[2022-10-30 15:22] #195 closed

[2022-10-30 19:48] yahyaerturan opened #199 "Selecting an option triggers onServerSearch and breaks the plugin"
I have shared my settings down there. When I search, results shown, but when I select, for a second I see my clicked option selected but after text changes to placeholder text, yet close button stands. Same time it triggers `onServerSearch`'s ajax funtion without a term. Also after, when I open dropdown again, it has options inside but labels are not shown. Things are really messed up here.

In se

[2022-10-31 04:45] sa-si-dev commented on #199
@yahyaerturan I will check and fix it. Thanks for letting me know it.

[2022-11-07 12:12] squareclouds opened #200 "Get disabled options"
hello and thanks for this really cool tool. somehow the functionality to retrieve the disabled values is missing, though, and i cant find a workaorund. is there an easy way to get to the variable?

[2022-11-07 22:46] gnbm commented on #169
Hello @sa-si-dev
Any update on this issue? I'm also getting this.
Thank you for your great work on this component.

[2022-11-07 22:46] gnbm commented on #162
Hello @sa-si-dev
Any update on this issue? I'm also getting this with some impact on a project.
Thank you once again for your great work on this component.

[2022-11-07 22:55] gnbm commented on #194
@fredy31 Can you please share a JSFiddle or similar with that being reproduced

[2022-11-09 13:48] meetmthosar opened #201 "Reinitialize virtual select"
Can we reinitialize virtual select to update options?

[2022-11-09 14:33] yahyaerturan commented on #201
You can add `VirtualSelect.setOptions()` on som `change` event.

[2022-11-10 09:33] meetmthosar commented on #201
Thanks! It worked

[2022-11-14 16:31] freddidierRTE opened #202 "Potential script injection"
If using virtual select with untrusted option labels can lead to security problems, see following example :

[code]

On my application, i add sanitization :
[code]

But i guess this would be better to have it inside the component ?

[2022-11-15 03:55] sa-si-dev commented on #202
@freddidierRTE set `enableSecureText: true` property to prevent XSS attack.

[2022-11-15 03:56] #202 closed

[2022-11-15 07:39] freddidierRTE commented on #202
thanks for this fast response

[2022-11-16 09:22] stefchrif opened #203 "When onServerSearch is enabled, there is no way to make a way to avoid many requests"
Hi,

When **onServerSearch** is enabled, there is no way to make the function wait for example few ms to not make many requests while the user is typing, nor a minimum number of char to fire the search.

For example to search for :
**test2022** the script will fire **8 requests** to search for the word, while if we have a waiting time until the user finish typing, it will fire only one search requ

[2022-11-16 10:15] sa-si-dev commented on #203
@stefchrif I will add a property to configure the waiting time. Thanks for the suggestion.

[2022-11-20 12:33] sa-si-dev commented on #200
@squareclouds May I know why do you want to get disabled values?

[2022-11-20 15:13] #201 closed

[2022-11-20 16:02] sa-si-dev commented on #192
@squareclouds Could you please share a sample code to reproduce this issue?

[2022-11-20 16:45] sa-si-dev commented on #197
@squareclouds This issue has been fixed in the [release v1.0.35](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.35)

[2022-11-20 16:45] #197 closed

[2022-11-20 16:46] sa-si-dev commented on #203
@stefchrif this issue has been fixed by @Venkataramanan21 in the [release v1.0.35](https://github.com/sa-si-dev/virtual-select/releases/tag/v1.0.35)

[2022-11-20 16:46] #203 closed

[2022-11-21 09:16] squareclouds commented on #197
yes thank you! i found it out a bit later :)

[2022-11-21 09:20] squareclouds commented on #200
@sa-si-dev of course. i was creating a sync logic between virtual-selects. so if you select something in one of them, you disable that one option in the other ones. its been a couple of days to give you a more detailed info, but that was the core idea of it. and since i dont create the options via JS but directly as HTML (PHP) and only initialize the selects via JS it would be easier to know which

[2022-11-21 09:26] squareclouds commented on #192
@sa-si-dev its been a few weeks, so not right away. but what i mean is if my options look like this in html. since the first value value is 0, the value was always getting set even though in HTML it was not set as shown here in the example.

<select name="years" id="years">
  <option value="0">New</option>
  <option value="1">1 year</option>
  <option value="2">2 years</option>
  <option value="3"

[2022-11-23 12:15] sa-si-dev commented on #192
Are you saying first option is auto selected when initialising from native select element?

If so, that is expected behaviour only. Because in native select, first value would auto selected. So I doing the same.

[2022-11-28 11:48] squareclouds commented on #192
ah ok, then it works as intended i think. i changed my code a bit to solve my specific problem

[2022-11-28 11:54] #192 closed

[2022-11-30 14:19] sa-si-dev commented on #199
@yahyaerturan Please check this issue in the latest version and let me know if this issue still exists or not.

[2022-11-30 21:30] nightrider77 opened #205 "Do I need to check for the existence of the option I want to select?"
Do I need to check for the existence of the option I want to select if I use onServerSearch mode without predefined options?
Or I can execute addOption method without checking?
Asking because there is no method in plugin for option existence check.